@model BillingSystem.Model.CPTCodes

@{
    ViewBag.Title = "CPT Codes View";
}
<style>
    .btn-group {
        margin-left: 5px;
        margin-top: 10px;
    }
</style>

<div class="form" id="CPTCodesFormDiv">
    @Html.HiddenFor(m => m.CPTCodesId, new { @ID = "hdCPTCodesId" })
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="rowTable">
            <label>Effective Date:</label>
            @Html.TextBoxFor(m => m.CodeEffectiveDate, "{0:MM/dd/yyyy}", new { @maxlength = "10", @ID = "dtCodeEffectiveDate", @class = "dtGeneral" })
        </div>
        <div class="rowTable">
            <label>Expiry Date:</label>
            @Html.TextBoxFor(m => m.CodeExpiryDate, "{0:MM/dd/yyyy}", new { @maxlength = "10", @ID = "dtCodeExpiryDate", @class = "dtGreaterThanCurrent", @onchange = "CheckValidDateNotLessThanTodayDate(this,'dtCodeExpiryDate')" })
        </div>
        @*<div class="rowTable">
            <label>Service Main Category:</label>
            <select id="ddlGlobalCodeCategories" onchange="return OnChangeGlobalCodeCategory();"></select>
        </div>*@
        <div class="rowTable">
            <label>Code Group:</label>
            @Html.TextBoxFor(m => m.CodeGroup, new { @maxlength = "50", @resize = "vertical", @ID = "txtCodeGroup" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="rowTable">
            <label>Anesthesia Base Unit:</label>
            @Html.TextBoxFor(m => m.CodeAnesthesiaBaseUnit, new { @maxlength = "3", @resize = "vertical", @ID = "txtCodeAnesthesiaBaseUnit" })
        </div>
        <div class="rowTable">
            <label>Basic Product Application Rule:</label>
            @Html.TextAreaFor(m => m.CodeBasicProductApplicationRule, new { @maxlength = "100", @resize = "vertical", @ID = "txtCodeBasicProductApplicationRule" })
        </div>
        @*<div class="rowTable">
            <label>Service Code SubCategory:</label>
            <select id="ddlGlobalCodes"></select>
        </div>*@
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="rowTable">
            <label><span class="mandatoryStar"></span>Price:</label>
            @Html.TextBoxFor(m => m.CodePrice, new { @maxlength = "50", @resize = "vertical", @ID = "txtCodePrice", @class = "validate[validate[required,custom[onlyNumberSp]]]" })
        </div>
        <div class="rowTable">
            @Html.HiddenFor(m => m.CPTCodesId)
            <label>Other Products Application Rule:</label>
            @Html.TextAreaFor(m => m.CodeOtherProductsApplicationRule, new { @maxlength = "100", @resize = "vertical", @ID = "txtCodeOtherProductsApplicationRule" })
        </div>
        <div class="rowTable">
            <label>USCLS Chapter:</label>
            @Html.TextBoxFor(m => m.CodeUSCLSChapter, new { @maxlength = "50", @resize = "vertical", @ID = "txtCodeUSCLSChapter" })
        </div>
        <div class="rowTable">
            <label>Is Active:</label>
            <input type="checkbox" checked="checked" id="chkIsActive" />
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="rowTable">
            <label>Code:</label>
            @Html.TextBoxFor(m => m.CodeNumbering, new { @maxlength = "50", @resize = "vertical", @ID = "txtCodeNumbering" })
        </div>
        <div class="rowTable">
            <label>Code Description:</label>
            @Html.TextAreaFor(m => m.CodeDescription, new { @maxlength = "120", @resize = "vertical", @ID = "txtCodeDescription" })
            @Html.HiddenFor(m => m.CPTCodesId)
        </div>
        <div class="rowTable">
            <label>CPTMUE Values:</label>
            @Html.TextBoxFor(m => m.CodeCPTMUEValues, new { @maxlength = "50", @resize = "vertical", @ID = "txtCodeCPTMUEValues" })
        </div>

    </div>
    <div class="clear"></div>
    <div class="btn-group">
        <div style="float: left;">
            <input type="submit" class="btn btn-primary edit-btn marginBtn" value="Save" id="btnSave" onclick="return SaveCPTCodes('0')" />
            <button name="ClientCancel" class="btn btn-primary edit-btn marginBtn" type="button" onclick="return ClearAll();">Cancel</button>
            <input type="hidden" id="hfCPTCodesId" value='@Model.CPTCodesId' />
            <a id="indexUrl" href="@Html.AttributeEncode(Url.Action("CPTCodes", "CPTCodes"))" style="display:none;"></a>
            <a id="Url" href="@Html.AttributeEncode(Url.Action("CPTCodes", "CPTCodes"))" style="display:none;"></a>
        </div>
    </div>
</div>
