@using System.Web.Helpers
@using BillingSystem.Model.CustomModel
@model System.Collections.Generic.List<AppointmentTypesCustomModel>

<div class="form">
    <div class="table-responsive">
        @if (Model != null && Model.Count > 0)
        {
            var grid = new WebGrid(Model, ajaxUpdateContainerId: "gridContent", canPage: false);
            <div id="gridContent">
                @grid.GetHtml("table table_scroll12", "gridHead", "gridFooter", "gridRow", "gridAltRow", columns: grid.Columns(
                                //grid.Column("Id", header: "Id" ),
                                //   grid.Column("CorporateId", header: "CorporateId"),
                                //grid.Column("FacilityId", header: "FacilityId"),
                                  grid.Column("Name", "Appointment Type"),
                                grid.Column("Description", "Description" ),
                                grid.Column("CategoryNumber1", "Category Number" ),
                                grid.Column("CPTRange", "CPT Range" ),
                                //grid.Column("CptRangeTo", header: "CptRangeTo" ),
                                 grid.Column("TimeSlot", "Default Time"),
                                  grid.Column("EquipmentRequired", "Equipment Required"),
                                grid.Column("ExtValue2", header: "Associated Role" ),
                                //grid.Column("CreatedBy", header: "CreatedBy" ),
                                //grid.Column("CraetedDate", header: "CraetedDate" ),
                                //grid.Column("IsActive", header: "IsActive" ),
                                //grid.Column("ModifiedBy", header: "ModifiedBy" ),
                                //grid.Column("ModifiedDate", header: "ModifiedDate" ),
                
                grid.Column(header: "Action", format: @<text>
                <a href="#" onclick="EditAppointmentTypes('@item.Id')" style="float: left; margin-right: 7px; width: 15px;">
                    <img src="../images/edit.png" /></a>
                                                           &nbsp;@*<a href="#" title="Delete" onclick="return DeleteAppointmentTypes('@item.Id');" style="float: left; width: 15px;"><img src="../images/delete.png" /></a>*@
                <a href="javascript:void(0);" title="Delete Appointments" onclick="return OpenConfirmPopup('@item.Id','Delete Appointment','',DeleteAppointmentTypes,null); " style="float: left; width: 15px;">
                    <img src="@Url.Content("~/images/delete.png")" />
                </a>
                </text>)
                                ))
            </div>            
        }
        else
        {

            <h2>No Record found</h2>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.table_scroll12').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
        SetGridSorting(SortAppointmentTypesGrid, "#gridContent");

    });
</script>



