@model BillingSystem.Model.OrderActivity

<style>
    .btn-group { margin-left: 15px; }
</style>

<div class="base-color">
    <div class="form">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="rowTable">
                <label>Order Type</label>
                <label id="OrderTypeNameLabSpeciman"></label>
                @Html.HiddenFor(m => m.OrderActivityID, new {@id = "hdOpenOrderActivityScheduleIDLabSpeciman"})
                @Html.HiddenFor(m => m.OrderType, new {@id = "hdOrderTypeIDLabSpeciman"})
                @Html.HiddenFor(m => m.OrderID, new {@id = "hdOpenOrderIDLabSpeciman"})
                @Html.HiddenFor(m => m.CreatedDate, new {@id = "hdCreatedDateLabSpeciman"})
                @Html.HiddenFor(m => m.CreatedBy, new {@id = "hdCreatedByLabSpeciman"})
                @Html.HiddenFor(m => m.OrderCategoryID, new {@id = "hdOrderCategoryIDLabSpeciman"})
                @Html.HiddenFor(m => m.OrderBy, new {@id = "hdOrderByLabSpeciman"})

                @Html.HiddenFor(m => m.OrderSubCategoryID, new {@id = "hdOrderSubCategoryIDLabSpeciman"})
                @Html.HiddenFor(m => m.OrderBy, new {@id = "hdOrderByLabSpeciman"})
                @Html.HiddenFor(m => m.OrderScheduleDate, new {@id = "hdOrderScheduleDateLabSpeciman"})
                @Html.HiddenFor(m => m.PlannedBy, new {@id = "hdPlannedByLabSpeciman"})

                @Html.HiddenFor(m => m.PlannedDate, new {@id = "hdPlannedDateLabSpeciman"})
                @Html.HiddenFor(m => m.PlannedFor, new {@id = "hdPlannedForLabSpeciman"})
            </div>
            <div class="rowTable">
                <label>Order Code</label>
                <label id="OrderCodeLabSpeciman"></label>
                @Html.HiddenFor(m => m.OrderCode, new {@id = "hdOrderCodeLabSpeciman"})
            </div>
            <div class="rowTable">
                <label>Scheduled On</label>
                @Html.TextBoxFor(m => m.OrderScheduleDate, new {@id = "txtActivitySchecduleOnLabSpeciman", @class = "validate[required]", @readonly = true})
            </div>
            <div class="rowTable">
                <label>Scheduled Quantity</label>
                @Html.TextBoxFor(m => m.OrderActivityQuantity, new {@id = "txtActivityQuantityLabSpeciman", @maxlength = "5", @class = "validate[required] emptytxt", @readonly = true})
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="rowTable">
                <label>Status</label>
                <select id="ddlActivityStatusLabSpeciman" name="ddlActivityStatusLabSpeciman" class="validate[required]"></select>
                @Html.HiddenFor(m => m.OrderActivityStatus, new {@id = "hdActivityStatusLabSpeciman"})
            </div>
            <div class="rowTable telephoneCol1">
                <label>Type of Speciman:</label>
                <select id="ddlTypeOfSpecimanLabSpeciman" name="ddlTypeOfSpecimanLabSpeciman"></select>
                @Html.HiddenFor(m => m.ResultValueMax, new {@id = "hdResultUOMLabSpeciman"})
            </div>
            @*<div class="rowTable editLabActivity telephoneCol2" style="display: none;">
                <label>Unit Of Measure</label>
                <select id="ddlResultUOM" name="ddlResultUOM"></select>
                @Html.HiddenFor(m => m.ResultUOM, new {@id = "hdResultUOM"})
            </div>*@
        </div>
        @*<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="rowTable">
                <label>Comments</label>
                @Html.TextAreaFor(m => m.Comments, new {@id = "txtComments", @maxlength = "500", @placeholder = "Enter your additional comments here...", @style = "height:34px;", @class = "emptytxt"})
            </div>
        </div>*@
        @*<div class="rowTable">
                <label>Item Name</label>
                @Html.TextBoxFor(m => m.ItemName, new { @id = "txtItemName", @maxlength = "25", @class = "validate[required] emptytxt", @placeHolder = "Enter Item Name..." })
            </div>*@
    </div>
    <div class="clear"></div>
    <div class="col-sm-12">
        <div class="button-block">
            <input type="submit" class="btn btn-primary edit-btn marginrightBtn" id="btnLabSpeciman" onclick=" return AddLabTestSpecimanOrder(); " value="Submit" />
            <input type="submit" class="btn btn-primary edit-btn marginrightBtn" id="btnCancelLabSpeciman" onclick=" return CancelLabSpecimanOrder(); " value="Cancel" />
        </div>
    </div>
</div>