@using BillingSystem.Model.CustomModel
@model IEnumerable<OrderActivityCustomModel>
@{
    var waitinforSpeciman = Model.Where(x => x.OrderActivityStatus == 0 || x.OrderActivityStatus == 1 || x.OrderActivityStatus == 20).ToList();
}
@if (waitinforSpeciman != null && waitinforSpeciman.Any())
{
    var grid = new WebGrid(waitinforSpeciman, ajaxUpdateContainerId: "gridContentLabSpecimanGrid", canPage: false);
    <div id="gridContentLabSpecimanGrid">
        @grid.GetHtml(htmlAttributes: new {id = "LabSpecimanGrid"}, tableStyle: "table table-grid", headerStyle: "gridHead", footerStyle: "gridFooter", rowStyle: "gridRow", alternatingRowStyle: "gridRow",
            columns:
                grid.Columns(
                    grid.Column("OrderTypeName", "Order Type", canSort: true, style: "col5"),
                     grid.Column("OrderCode", "Order Code", canSort: true, style: "col2"),
                     grid.Column("OrderDescription", "Order Description", canSort: true, style: "col4"),
                     grid.Column("CategoryName", "Order Category", canSort: true, style: "col6"),
                     grid.Column("SubCategoryName", "Order Sub-Category", canSort: true, style: "col7"),
                     grid.Column("SpecimenTypeStr", "Type of Specimen", canSort: true, style: "col7"),
                     grid.Column("OrderScheduleDate", "Scheduled On", canSort: true, style: "col3", format: @<text>
                                                                                                                 @if (item.OrderScheduleDate != null)
                                                                                                                 {
                                                                                                                     <label id="scheduledDate">@item.OrderScheduleDate.ToString("dd/MM/yyyy HH:mm:ss")</label>
                                                                                                                     if (item.Status != "Closed" && item.Status != "On Bill" && item.Status != "Administered" && item.Status != "Cancel/Revoked")
                                                                                                                     {
                                                                                                                         if (item.ShowEditAction)
                                                                                                                         {
                                                                                                                             <input type="hidden" id="hdShowEditAction" value="@item.ShowEditAction"/>
                                                                                                                         }
                                                                                                                     }
                                                                                                                 }
                                                                                                             </text>),
                                                                                                                                      grid.Column("ExecutedDate", "Administered On", canSort: true, style: "colExeDate", format: @<text>@if (item.ExecutedDate != null)
                                                                                                                       {
                                                                                                                           @item.ExecutedDate.ToString("dd/MM/yyyy HH:mm:ss")
                                                                                                                       }</text>),
                                                                                                                                                           grid.Column("OrderActivityQuantity", "Quantity", canSort: true, style: "col1"),
                                                                                                                                                           grid.Column("Status", "Status", canSort: true, style: "col10"),
                    grid.Column("Comments", "Comments", canSort: false, style: "col7"),
                    grid.Column(header: "Administer", format: @<text>
                                                                   
                                                                   <a href="javascript:void(0);" title="Take Speciman" onclick="ViewTakeSpecimenPopup('@item.OrderActivityID') " style="float: left; margin-right: 7px; width: 15px;">
                                                                       <img src="@Url.Content("~/images/specimen_icon.png")" style="width: 100%;" />
                                                                   </a>
                                                                @*   <a href="javascript:void(0);" title="Print Specimen Label" onclick="PrintLabSpecimanLabel('@item.OrderActivityID')" style="float: left; margin-right: 7px; width: 15px;">
                                                                              <img src="@Url.Content("~/images/print_icon.png")" style="width: 100%;" />
                                                                    </a>*@
                                                                       <a href="javascript:void(0);" title="Cancel Activity" onclick=" ViewCancelOrderActivityPopup('@item.OrderActivityID') " style="float: left; margin-right: 7px; width: 15px;">
                                                                        <img src="@Url.Content("~/images/delete_small.png")" />
                                                                            </a>
                                                               </text>)))
    </div>
}
else
{
    <h2>No Record found</h2>
}


<script type="text/javascript">
    $(function () {
        $("#LabSpecimanGrid tbody tr").each(function (i, row) {
            var $actualRow = $(row);
            if ($actualRow.find('.col10').html().indexOf('Open') != -1 || $actualRow.find('.col10').html().indexOf('Waiting For Specimen') != -1) {
                var lblValue = $(this).find("#hdShowEditAction");
                if ($actualRow.find('.col10').html("Waiting For Specimen") != -1) {
                    $actualRow.addClass('rowColor3');
                    if (lblValue.length != 0) {
                        $actualRow.addClass('rowColor3');
                    } 
                }
            }
            else if ($actualRow.find('.col10').html("Waiting For Result") != -1) {
                $actualRow.addClass('rowColor3');
            }
        });
        SetGridSorting(SortLabSpecimanOpenOrderList, "#gridContentLabSpecimanGrid");
    });
</script>

