@using BillingSystem.Model.CustomModel
@model IEnumerable<OrderActivityCustomModel>

@if (Model != null && Model.Any())
{
    var grid = new WebGrid(Model, ajaxUpdateContainerId: "gridContentLabTestReview", canPage: false);
    <div id="gridContentLabTestReview">
        @grid.GetHtml(htmlAttributes: new {id = "LabTestReviewGrid"}, tableStyle: "table", headerStyle: "gridHead", footerStyle: "gridFooter", rowStyle: "gridRow", alternatingRowStyle: "gridRow",
            columns:
                grid.Columns(
                    grid.Column("OrderTypeName", "Order Type", canSort: true, style: "col5"),
                     grid.Column("OrderCode", "Order Code", canSort: true, style: "col2"),
                     grid.Column("OrderDescription", "Order Description", canSort: true, style: "col4"),
                     grid.Column("CategoryName", "Order Category", canSort: true, style: "col6"),
                     grid.Column("SubCategoryName", "Order Sub-Category", canSort: true, style: "col7"),
                     grid.Column("SpecimenTypeStr", "Type of Specimen", canSort: true, style: "col7"),
                     grid.Column("ResultValueMin", "Lab Result", canSort: true, style: "col6", format: @<text>
                               <input type="hidden" id="hdLabResultStatus" value="@item.LabResultTypeStr"/>
                               @if (!string.IsNullOrEmpty(item.LabResultTypeStr))
                               {
                                   if (item.LabResultTypeStr == "Unknown")
                                   {
                                       <label id="lblResultValue" title="@item.LabResultTypeStr">@item.ResultValueMin</label>
                                   }
                                   else if (item.LabResultTypeStr == "Good")
                                   {
                                       <label title="@item.LabResultTypeStr">@item.ResultValueMin</label>
                                   }
                                   else if (item.LabResultTypeStr == "Caution")
                                   {
                                       <label title="@item.LabResultTypeStr">@item.ResultValueMin</label>
                                   }
                                   else if (item.LabResultTypeStr == "Bad")
                                   {
                                       <label  title="@item.LabResultTypeStr">@item.ResultValueMin</label>
                                   }
                                   else
                                   {
                                       <label title="@item.LabResultTypeStr">@item.ResultValueMin</label>
                                   }
                               }
                               else
                               {
                                   <label title="@item.LabResultTypeStr">@item.ResultValueMin</label>
                               }
                                                                                                        </text>),
                    //grid.Column("ResultUOMStr", "Unit Of Measure", canSort: false, style: "col7"),
                                              grid.Column("OrderScheduleDate", "Scheduled On", canSort: true, style: "col3", format: @<text>
                              @if (item.OrderScheduleDate != null)
                              {
                                  <label id="scheduledDate">@item.OrderScheduleDate.ToString("dd/MM/yyyy HH:mm:ss")</label>
                                  if (item.Status != "Closed" && item.Status != "On Bill" && item.Status != "Administered" && item.Status != "Cancel/Revoked")
                                  {
                                      if (item.ShowEditAction)
                                      {
                                          <input type="hidden" id="hdShowEditAction" value="@item.ShowEditAction"/>
                                      }
                                  }
                              }
                          </text>),
                                                   grid.Column("ExecutedDate", "Administered On", canSort: true, style: "colExeDate", format: @<text>@if (item.ExecutedDate != null)
                                    {
                                        @item.ExecutedDate.ToString("dd/MM/yyyy HH:mm:ss")
                                    }</text>),
                                                                        grid.Column("OrderActivityQuantity", "Quantity", canSort: true, style: "col1"),
                                                                        grid.Column("Status", "Status", canSort: true, style: "col10"),
                                                                        grid.Column("Comments", "Comments", canSort: true, style: "col7")
                    ))
    </div>
}
else
{
    <h2>No Record found</h2>
}

<script type="text/javascript">
    $(function () {
        if ($('#collapseLabOrdersList').hasClass('in'))
            $('#LabTestReviewGrid').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
        else {
            $('#collapseLabOrdersList').addClass('in');
            $('#LabTestReviewGrid').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
            $('#collapseLabOrdersList').removeClass('in');
        }
        $("#LabTestReviewGrid tbody tr").each(function (i, row) {
            var $actualRow = $(row);
            var lblValue = $($actualRow).find("#hdLabResultStatus");
            if (lblValue != null) {
                var labresultStatus = lblValue.val();
                switch (labresultStatus) {
                    case "Good":
                        $actualRow.addClass('rowColor5');
                        break;
                    case "Caution":
                        $actualRow.addClass('rowColor2');
                        break;
                    case "Bad":
                        $actualRow.addClass('rowColor10');
                        break;
                    default:
                        $actualRow.addClass('rowColor4');
                        break;
                }
            }
        });
        SetGridSorting(SortLabOrdersListByPhysician, "#gridContentLabTestReview");
    });
</script>