@using BillingSystem.Model.CustomModel
@model List<FacultyRoosterCustomModel>

<style>
    .remove_hover:hover {
        background: #317cb3 !important;
    }
</style>

<div class="form">
    <div class="table-responsive">
        @if (Model != null && Model.Any())
        {
            <table class="table table_scroll12" id="FacultyTimingOverviewView" data-swhgcallback="" data-swhgcontainer="gridProjectDashboardContent" data-swhgajax="true">
                <thead>
                    <tr class="gridHead">
                        <th></th>
                        <th scope="col" >Faculty Name            </th>
                        <th scope="col" >Deptartment Name       </th>
                        <th scope="col" >From Date     </th>
                        <th scope="col" >To Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td title="click for show/hide" class="hoverEff collapseCustom"></td>
                            <td>@item.FacultyName</td>
                            <td>@item.DepartmentName</td>
                            <td> @if (item.FromDate != null)
                                 {
                                     @item.FromDate
                                 }
                                 else
                                 {
                                     <span>Department Opening Time</span>
                                 }</td>
                            <td>@if (item.ToDate != null)
                                {
                                    @item.ToDate
                                }
                                else
                                {
                                    <span>Department Closing Time</span>
                                }</td>
                            @*<td>
                                <input type="submit" id="btnEdit" class="btn btn-primary edit-btn" value="Edit" onclick="EditRoom('@item.FacilityStructureId    ');" />
                            </td>*@
                        </tr>
                       
                        <tr style="display: table-row;" >
                            <td style="margin: 0px; padding: 0px;" colspan="5">
                                <input type="hidden" id="hidFacultyId" value="@item.FacultyId" class="hidfacultyValue"/>
                                <table id="subT_@item.FacultyId" style="width: 100%; margin: 10px 0;">
                                    <tr class="gridHead remove_hover">
                                        <th width="8">Department</th>
                                        <th scope="col" width="100">From Date</th>
                                        <th scope="col" width="100">To Date</th>
                                        <th scope="col" width="100">Time Interval</th>
                                        <th scope="col" width="50">Action</th>
                                        @*<th scope="col" width="50">No Equipment Required</th>*@
                                    </tr>
                                    @if (item.FacultyTimeslots != null && item.FacultyTimeslots.Any())
                                    {
                                        foreach (var app in item.FacultyTimeslots)
                                        {
                                            <tr>
                                                <td>@app.DepartmentName</td>
                                                <td>@app.FromDateStr</td>
                                                <td>@app.ToDateStr</td>
                                                <td>@app.FromTimeStr - @app.ToTimeStr</td>
                                                <td><a href="javascript:;" onclick="EditFacultyRooster('@app.Id') " style="float: left; margin-right: 7px; width: 15px;">
                                                        <img src="~/images/edit.png"/></a>
                                                    @*<a href="javascript:;" title="Delete" onclick="return DeleteFacultyRooster('@app.Id') " style="float: left; width: 15px;"><img src="~/images/delete.png" /></a>*@
                                                    <a href="javascript:void(0);" title="Delete" onclick="return OpenConfirmPopup('@app.Id',
    'Delete Faculty Rooster',    '',    DeleteFacultyRooster,    null); " style="float: left; width: 15px;">
                                                        <img src="@Url.Content("~/images/delete.png")"/>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr><td colspan="5">
                                            <h2>No Record found</h2></td></tr>
                                    }
                                </table>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        }
        else
        {
            <h2>No Record found</h2>
        }
    </div>
</div>
<script>
    $(function () {
        ShowCustomGrid();
        $('.table_scroll12').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
    });
    function ShowCustomGrid() {
        $('.hitTitle').click(function () {
            $('.showGrid').toggleClass('shown');
        });
        var size = $("#FacultyTimingOverviewView > thead > tr >th").size(); // get total column

        $("#FacultyTimingOverviewView > tbody > tr")
            .each(function(i, el) {
                //Now get sub table from last column and add this to the next new added row
                //var table = $("table", this).parent().html();
                ////add new row with this subtable
                //$(this).after("<tr><td></td><td style='padding:0; margin:0px;' colspan='" + (6) + "'>" + table + "</td></tr>");
                //$("table", this).parent().remove();
                // ADD CLICK EVENT FOR MAKE COLLAPSIBLE
                $(".hoverEff", this)
                    .on("click",
                        function () {
                            var facultyId = $(this).parent().closest('tr').next().find('.hidfacultyValue').val();
                            $(this).parent().closest("tr").next().slideToggle(100);
                            $(this).toggleClass("expandCustom collapseCustom");
                            if ($('#subT_' + facultyId).hasClass('fht-table')) {
                                ""
                            } else {
                                $('#subT_' + facultyId).addClass('scroller');
                            }
                        });
            });

        //by default make all subgrid in collapse mode
        $("#FacultyTimingOverviewView > tbody > tr td.collapseCustom").each(function (i, el) {
            $(this).toggleClass("expandCustom collapseCustom");
            $(this).parent().closest("tr").next().slideToggle(100);
        });
    }

</script>