@using BillingSystem.Model
@model  BillingSystem.Model.CustomModel.CPTCodesCustomModel
<style>
    .btn-group {
        margin-left: 15px;
    }
</style>

<div class="form" >
    <div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="rowTable">
                <label>Lab Test Category Type:</label>
                <select id="ddlLabTestTypeCategory" name="ddlLabTestTypeCategory" class="validate[required]" onchange="bindLabTests();"></select>
                @Html.HiddenFor(m => m.CategoryId, new { @id = "hdGlobalCodeValue" })
            </div>
            <div class="rowTable">
                <label>Select Test Name:</label>
                <select id="ddlLabTestName" name="ddlLabTestName" class="validate[required]" onchange="SetLabOrderDescription()"></select>
                @Html.HiddenFor(m => m.CPTCodesId, new { @id = "hdCPTCodeId" })
            </div>
            
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6">
            <div class="rowTable">
                <label>Description:</label>
                @Html.TextAreaFor(m => m.CodeDescription, new { @id = "txtDescription", @rows = "5" })
            </div>
            
            
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="rowTable">
                <label>Range:</label>
                <div class="telephoneCol1">
                    <label>Min Value:</label>
                    @Html.TextBoxFor(m => m.ExternalValue1, new { @id = "txtExternalValue1", @class = "validate[required]" })
                </div>
                <div class="telephoneCol2">
                    <label>Max Value:</label>
                    @Html.TextBoxFor(m => m.ExternalValue2, new { @id = "txtExternalValue2", @class = "validate[required]" })
                </div>
            </div>
            <div class="rowTable">
                <label>
                    UOM:
                </label>
                    <select id="ddlLabTestUOM" name="ddlLabTestUOM" class="validate[required]"></select>
                    @Html.HiddenFor(m => m.ExternalValue3, new { @id = "hdExternalValue3" })
                
            </div>
            
        </div>
        <div>
            <div class="rowTable">
                    @Html.HiddenFor(m => m.IsActive, new { @id = "hdIsActive" })
                    @Html.HiddenFor(m => m.CodeTableDescription, new { @id = "hdCodeTableDescription" })
                    @Html.HiddenFor(m => m.CodeTableNumber, new { @id = "hdCodeTableNumber" })
                    @Html.HiddenFor(m => m.CodeNumbering, new { @id = "hdCodeNumbering" })
                    @Html.HiddenFor(m => m.CodePrice, new { @id = "hdCodePrice" })
                    @Html.HiddenFor(m => m.CodeAnesthesiaBaseUnit, new { @id = "hdCodeAnesthesiaBaseUnit" })
                    @Html.HiddenFor(m => m.CodeEffectiveDate, new { @id = "hdCodeEffectiveDate" })
                    @Html.HiddenFor(m => m.CodeExpiryDate, new { @id = "hdCodeExpiryDate" })
                    @Html.HiddenFor(m => m.CodeBasicProductApplicationRule, new { @id = "hdCodeBasicProductApplicationRule" })
                    @Html.HiddenFor(m => m.CodeOtherProductsApplicationRule, new { @id = "hdCodeOtherProductsApplicationRule" })
                    @Html.HiddenFor(m => m.CodeServiceMainCategory, new { @id = "hdCodeServiceMainCategory" })
                    @Html.HiddenFor(m => m.CodeServiceCodeSubCategory, new { @id = "hdCodeServiceCodeSubCategory" })
                    @Html.HiddenFor(m => m.CodeUSCLSChapter, new { @id = "hdCodeUSCLSChapter" })
                    @Html.HiddenFor(m => m.CodeCPTMUEValues, new { @id = "hdCodeCPTMUEValues" })
                    @Html.HiddenFor(m => m.CodeGroup, new { @id = "hdCodeGroup" })
                    @Html.HiddenFor(m => m.CreatedBy, new { @id = "hdCreatedBy" })
                    @Html.HiddenFor(m => m.CreatedDate, new { @id = "hdCreatedDate" })
                    @Html.HiddenFor(m => m.CTPCodeRangeValue, new { @id = "hdCTPCodeRangeValue" })
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="btn-group">
        @if (Model.CPTCodesId != 0)
        {
            <input type="submit" class="blue-btn btn btn-primary edit-btn marginBtn" value="Update" onclick="AddLabTest('@Model.CPTCodesId');" />
        }
        else
        {
            <input type="submit" class="blue-btn btn btn-primary edit-btn marginBtn" value="Save" onclick="AddLabTest('0');" />
        }
        <button name="ClientCancel" class="blue-btn btn btn-primary edit-btn marginBtn" onclick="ClearLabTestFields();" type="button">Cancel</button>
    </div>
</div>
