@model BillingSystem.Models.BedAssignmentView

@{
    ViewBag.Title = "Assign Bed To Patient";
}
<script type="text/javascript" src="~/Scripts/Encounter/FilterBedGrid.js"></script>
<div class="panel panel-default collapsecss ourcollapse">
    <div class="panel-heading" data-toggle="collapse" data-parent="#collapseBedInfo">
        <h4 class="panel-title collapseTitle">
            <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Bed Search
            <a class="btn btn-default btn-sm pull-right collapse-btn">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </h4>
    </div>
    <div id="collapseBedInfo" class="panel-collapse collapse in">
        <div class="row bed-assignment">
           @* <div class="col-sm-8">
                <ul class="bed-options">
                    <li class="free-bed">
                        <label>
                            <input type="checkbox" name="" />
                            Free
                        </label>
                    </li>
                    <li class="booked-bed">
                        <label>
                            <input type="checkbox" name="" />
                            Booked
                        </label>
                    </li>
                    <li class="expected-bed">
                        <label>
                            <input type="checkbox" name="" />
                            Expected date to free
                        </label>
                    </li>
                </ul>
            </div>
            <div class="col-sm-8">
                <input class="blue-btn btn btn-primary pull-right" type="button" value="Advance Search" onclick="$('.advance-search').show();" />
            </div>
            <div class="search-form">
                <div class="col-sm-2">
                    <div class="rowTable">
                        <label>Date</label>
                        <input type="text" id="txtBedDate" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="rowTable">
                        <label>Bed type</label>
                        <input type="text" id="txtBedType" />
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="rowTable">
                        <label></label>
                        <input class="blue-btn btn btn-primary" type="button" value="Search" />
                    </div>
                </div>
            </div>*@
            <div class="advance-search">
                <div class="col-sm-12">
                <div class="col-sm-3">
                    <div class="rowTable">
                        <label>Floor</label>
                        @*Add BindRooms() for clear the rooms onchange of floor by Krishna on 14072015*@
                        <select id="ddlFloor" name="ddlFloor" onchange="BindDepartment(), BindRooms()"></select> 
                        @*<input type="text" id="txtFloorType" />*@
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="rowTable">
                        <label>Department</label>
                        <select id="ddlDepartment" name="ddlDepartment" onchange="BindRooms()"></select>
                        @*<input type="text" id="txtDepartmentType" />*@
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="rowTable">
                        <label>Room</label>
                        <select id="ddlRoom" name="ddlRoom"></select>
                        @*<input type="text" id="txtRoom" />*@
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="rowTable">
                        <label></label>
                        <input class="blue-btn btn btn-primary" type="button" value="Search" onclick="FilterBedGrid();" />
                    </div>
                </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default collapsecss ourcollapse bordertable">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        <h4 class="panel-title collapseTitle">
            <span class="glyphicon glyphicon-info-sign"></span>&nbsp; Facility Beds
            <a class="btn btn-default btn-sm pull-right collapse-btn">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="base-color" id="physicianGrid">
                @{Html.RenderPartial("~/Views/Encounter/UserControls/_BedSearchFilterGrid.cshtml", Model.AvailableBedList);}
                @*@if (Model != null && Model.AvailableBedList.Any())
                {
                    var grid = new WebGrid(Model.AvailableBedList, ajaxUpdateContainerId: "gridAvailableBedContent", canPage: false);
                    @grid.GetHtml(htmlAttributes: new {id = "GridAvailableBedList"}, tableStyle: "table table-grid", headerStyle: "gridHead", footerStyle: "gridFooter",
                        columns: grid.Columns(
                            grid.Column("BedMasterModel.FloorName", "Floor Name", canSort: false, style: "col1"),
                            grid.Column("BedMasterModel.DeptName", "Dept Name", canSort: false, style: "col2"),
                            grid.Column("BedMasterModel.RoomName", "Room Name", canSort: false, style: "col3"),
                            grid.Column("BedName", "Bed Name", canSort: false, style: "col4"),
                            grid.Column("FacilityName", "Facility Name", canSort: false, style: "col5"),
                            grid.Column("BedTypeName", "Bed Type", canSort: false, style: "col6"),
                            grid.Column("BedOverrideTypeList", "Override Bed Charges", @<text>
                                                                                            @if (item.BedOverride)
                                                                                            {
                                                                                                @(item.NonChargeableRoom ? Html.DropDownList("BedOverRideSelector", new SelectList(item.BedOverrideTypeList, "GlobalCodes.GlobalCodeID", "GlobalCodeCustomValue"), "-- Select --", new {style = "width:250px", @disabled = "disabled", @class = "dropdown1", @id = "ddlOverrideBedService"}) : Html.DropDownList("BedOverRideSelector", new SelectList(item.BedOverrideTypeList, "GlobalCodes.GlobalCodeID", "GlobalCodeCustomValue"), "-- Select --", new {style = "width:250px", @class = "dropdown1", @id = "ddlOverrideBedService"}))
                                                                                            }
                                                                                        </text>, "col4", false),
                            grid.Column(header: "Action", style: "col7", format: @<text>
                                                                                      <a href="javascript:void(0);" onclick=" selectBed('@item.BedMaster.BedId', '@item.BedName', this.id) " id='@item.BedMaster.BedId' style="float: left; margin-right: 7px; width: 15px;">
                                                                                          <img src="@Url.Content("~/images/edit.png")" />
                                                                                      </a>
                                                                                  </text>),
                            grid.Column(format: item =>
                            {
                                var subGrid = new WebGrid(source: item.MedRateCardlist);
                                return subGrid.GetHtml(
                                    htmlAttributes: new {id = "subT"},
                                    columns: subGrid.Columns(
                                        subGrid.Column("BedRateCard.Rates", "Rate", canSort: false),
                                        subGrid.Column("UnitTypeName", "Unit", canSort: false),
                                        subGrid.Column("BedRateCard.DayStart", "Frequency Start", canSort: false),
                                        subGrid.Column("BedRateCard.DayEnd", "Frequency End", canSort: false)
                                        )
                                    );
                            })
                            ))

                }
                else
                {
                    <h2>No Record found</h2>
                }*@
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default collapsecss ourcollapse bordertable">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        <h4 class="panel-title collapseTitle">
            <span class="glyphicon glyphicon-info-sign"></span>&nbsp; Patient's Assigned facility
            <a class="btn btn-default btn-sm pull-right collapse-btn">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="base-color" id="physicianGrid1">
                @if (Model != null)
                {
                    if (Model.OccupiedBedList.Any())
                    {
                        var grid = new WebGrid(Model.OccupiedBedList, ajaxUpdateContainerId: "gridOccupiedBedList", canPage: false);
                    @grid.GetHtml(htmlAttributes: new { id = "FilterOccupiedBedGrid" }, tableStyle: "table table-grid", headerStyle: "gridHead", footerStyle: "gridFooter",
                                                rowStyle: "gridRow", alternatingRowStyle: "gridAltRow", columns: grid.Columns(
                                                grid.Column("Floor", "Floor Name", canSort: false, style: "col1"),
                                                grid.Column("Department", "Dept Name", canSort: false, style: "col2"),
                                                grid.Column("Room", "Room Name", canSort: false, style: "col3"),
                                                grid.Column("BedName", "Bed Name", canSort: false, style: "col4"),
                                                grid.Column("FacilityName", "Facility Name", canSort: false, style: "col5"),
                                                grid.Column("BedTypeName", "Bed Type", canSort: false, style: "col6")
                                                //grid.Column("ExpectedEndDate", "Expected End Date", canSort: false, style: "col3")
                                            ))
                    }
                    else
                    {
                    <h2>No Record found</h2>
                    }
                }
            </div>
        </div>

    </div>

</div>

<script>
    $(function () {
        ShowCustomGrid();
    });

    
</script>

