@model BillingSystem.Models.ReportingView
@using BillingSystem.Common
@using BillingSystem.Common.Common

@{
    ViewBag.Title = "Reporting View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-group {
        margin-top: 30px;
    }

    input[type="radio"] {
        margin: 0;
        vertical-align: top;
    }
    .table-grid { width: 100% !important;}
    /*.gridHead th:nth-child(1) {width: 240px !important;}
    .gridHead th:nth-child(2) {width: 220px !important;}
    .gridHead th:nth-child(3) {width: 225px !important;}*/
</style>
<script src="~/Scripts/Reporting/Reporting2.js?@DateTime.Now.Ticks"></script>
<div id="divReportingView" class="white-bg">
    <div class="panel panel-default collapsecss ourcollapse bordertable">
        <div class="panel-heading" data-parent="#accordion" data-toggle="collapse">
            <h4 class="panel-title collapseTitle">
                <span>
                    <img src="@Url.Content("~/images/list.png")">
                </span>&nbsp; @Model.Title
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="collapseReporting" class="panel-collapse tableImg collapse in">
            <div class="panel-body">
                <div class="base-color">
                    @Html.HiddenFor(m => m.ReportingType, new { @id = "hdReportType", @value = "1" })
                    @Html.HiddenFor(m => m.CorporateId)
                    <div class="form" style="min-height: 90px;">
                        <div class="col-xs-12 col-sm-3 col-md-2">
                            <div class="rowTable">
                                <label>From:</label>
                                @Html.TextBoxFor(m => m.FromDate,
                                new
                                {
                                    @Value = Model.FromDate != null ? Convert.ToDateTime(Model.FromDate).ToString("MM/dd/yyyy") : string.Empty,
                                    @maxlength = "10",
                                    @ID = "txtFromDate",
                                })
                            </div>
                        </div>
                        @if (Helpers.ShowTillDateFieldInReports(Convert.ToString(Model.ReportingType)))
                        {
                            <div class="col-xs-12 col-sm-3 col-md-2">
                                <div class="rowTable">
                                    <label>Till:</label>
                                    @Html.TextBoxFor(m => m.ToDate,
                                    new
                                    {
                                        @Value = Model.ToDate != null ? Convert.ToDateTime(Model.ToDate).ToString("MM/dd/yyyy") : string.Empty,
                                        @maxlength = "10",
                                        @ID = "txtTillDate",
                                    })
                                </div>
                            </div>
                        }
                        @if (Model.ReportingType == Convert.ToInt32(ReportingType.UserLoginActivity))
                        {
                            <div class="col-xs-12 col-sm-3 col-md-2">
                                <div class="rowTable">
                                    <label>User:</label>
                                    <select id="ddlUsers"></select>
                                    @Html.HiddenFor(m => m.UserId)
                                </div>
                            </div>
                        }
                        @if (Helpers.ShowViewTypeFieldInReports(Convert.ToString(Model.ReportingType)))
                        {
                            @Html.HiddenFor(m => m.ViewType, new { @id = "hdReportViewType", @value = "Y" })
                            <div class="col-xs-12 col-sm-3 col-md-2">
                                <div class="rowTable">
                                    <label>Select View Type:</label>
                                    <select id="ddlViewType" onchange="$('#hdReportViewType').val($('#ddlViewType').val());">
                                        <option value="Y">Yearly</option>
                                        <option value="M">Monthly</option>
                                        <option value="W">Weekly</option>
                                    </select>
                                </div>
                            </div>
                        }

                        @if (Helpers.ShowTillDateFieldInReports(Convert.ToString(Model.ReportingType)))
                        {
                            if (Model.ReportingType != Convert.ToInt32(ReportingType.ClaimTransactionDetailReport) && Model.ReportingType != Convert.ToInt32(ReportingType.DenialReport)
                                && Model.ReportingType != Convert.ToInt32(ReportingType.ChargeReport) && Model.ReportingType != Convert.ToInt32(ReportingType.ChargeDetailReport))
                            {

                            <div class="col-xs-12 col-sm-3 col-md-1" id="divShowAll">
                                <div class="rowTable">
                                    <label>Show All</label>
                                    @Html.CheckBoxFor(m => m.ShowAllRecords)
                                </div>
                            </div>
                            }
                        }
                        else
                        {
                            Model.ShowAllRecords = false;
                        }

                        @if (Model.ReportingType == Convert.ToInt32(ReportingType.ClaimTransactionDetailReport))
                        {
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="rowTable">
                                    <label>Select View Type:</label>
                                    <select id="ddlDisplayBy">
                                        <option value="1">By Transaction Date and then Patient Name</option>
                                        <option value="2">By Patient Name and then Transaction Date</option>
                                        <option value="3">By Payer and then Transaction Date</option>
                                    </select>
                                </div>
                            </div>
                        }

                        @if (Model.ReportingType == Convert.ToInt32(ReportingType.DenialReport))
                        {
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="rowTable">
                                    <label>Select View Type:</label>
                                    <select id="ddlDisplayDenialBy">
                                        <option value="1">By PayDate</option>
                                        <option value="2">By PayDate and DenialCodes</option>
                                        <option value="3">By DenialCodes</option>
                                        <option value="4">By Payer</option>
                                        <option value="5">By Payer and Denial Codes</option>
                                    </select>
                                </div>
                            </div>
                        }
                        @if (Model.ReportingType == Convert.ToInt32(ReportingType.ChargeDetailReport) || Model.ReportingType == Convert.ToInt32(ReportingType.ChargeReport))
                        {
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="rowTable">
                                    <label>Select Department:</label>
                                    <select id="ddlDepartment">
                                    </select>
                                </div>
                            </div>
                        }
                        <div class="btn-group">
                            <div class="search_btn" title="Search" onclick="BindReportingData();"><img src="~/images/search.png" /></div>
                            @*<input type="submit" class="blue-btn btn btn-primary edit-btn marginBtn" value="Search"  />*@
                            @*<button name="ClientCancel" class="blue-btn btn btn-primary edit-btn marginBtn" onclick="HideExportPanel();" type="button">Cancel</button>*@
                            @*<button name="Export" id="btnExport" class="btnExportRadioPanel blue-btn btn btn-primary edit-btn marginBtn">Export</button>*@

                            <div id="rdExportDiv" class="exportOptions" style="float: left;">
                                @*<label>Export Report As:</label>*@
                                <label>
                                    @*<a href="@Url.Action("ExportToExcel",
                                        new
                                        {
                                            fromDate = "fromdate",
                                            tillDate = "tilldate",
                                            isAll = "isall",
                                            reportingId = Model.ReportingType
                                        })" id="excelexportIcon" class="excelexportIcon exportToFile" title="Export As Excel"></a>*@

                                    @Html.ActionLink(" ", "ExportToExcel",
                                    new
                                    {
                                        fromDate = Model.FromDate,
                                        tillDate = Model.ToDate,
                                        isAll = false,
                                        reportingId = Model.ReportingType,
                                        userId = Model.UserId,
                                        viewtype = Model.ViewType
                                    },
                                    new
                                    {
                                        @class = "excelexportIcon",
                                        @title = "Export as Excel",
                                        @id = "btnExportExcel"
                                    })
                                </label>
                                <label>
                                    @* <a href="@Url.Action(Model.ReportingTypeAction,
                                        new
                                        {
                                            fromDate = "fromdate",
                                            tillDate = "tilldate",
                                            isAll = "isall",
                                            reportingId = Model.ReportingType
                                        })" id="pdfexportIcon" class="pdfexportIcon exportToFile" title="Export As PDF"></a>*@

                                    @Html.ActionLink(" ", "ExportToPDF",
                                    new
                                    {
                                        fromDate = Model.FromDate,
                                        tillDate = Model.ToDate,
                                        isAll = false,
                                        reportingId = Model.ReportingType,
                                        userId = Model.UserId,
                                        viewtype = Model.ViewType
                                    },
                                    new
                                    {
                                        @class = "pdfexportIcon",
                                        @title = "Export as PDF"
                                    })
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="scroller1">
                        <div class="table-responsive" id="ReportingGrid">
                        </div>
                    </div>
                    <div class="clear"></div>

                    <div style="display: none;" id="ReportingGridDetailDiv">
                        <div class="panel-default">
                            <div class="panel-heading marginTop">
                                <h4 class="panel-title collapseTitle">&nbsp; Reporting View
                                    
                                </h4>
                            </div>
                        </div>
                        <div>
                            <div class="table-responsive" id="ReportingGridDetail1">
                            </div>
                        </div>
                    </div>

                    <div class="clear"></div>
                    <div style="display: none;" id="ReportingGridLoginActivityDetailDiv">
                        <div class="panel-default">
                            <div class="panel-heading marginTop">
                                <h4 class="panel-title collapseTitle">&nbsp; Login Activity Detail View
                                </h4>
                            </div>
                        </div>
                        <div class="scroller">
                            <div class="table-responsive" id="ReportingGridLoginActivityDetail">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
