@using BillingSystem.Common.Common
@using BillingSystem.Models
@using BillingSystem.Model.CustomModel

@model IEnumerable<FacilityCustomModel>
@{
    SessionClass sessionClass = null;
    if (Session[SessionNames.SessionClass.ToString()] != null)
    {
        sessionClass = Session[SessionNames.SessionClass.ToString()] as SessionClass;
    }
}
<script type="text/javascript">
    $(function () {
        var columns = [{
            "aTargets": [7],
            "mData": null,
            "mRender": function (data, type, full) {
                @if(sessionClass != null && sessionClass.UserId == 1)
                {
                    <text>
                return '<a style="float:left; margin-right: 7px; width:15px;" href="javascript:void(0);" onclick="EditFacility(' + data[7] + ');"><img src="/images/edit.png"></a>' +
                '<a href="javascript:void(0);" title="Delete Facility" onclick=\'return OpenConfirmPopup(' + data[7] + ',\"Delete Facility\",\"\",DeleteItemInFacility,null)\' style="float: left; width: 15px;">' +
                '<img src="@Url.Content("~/images/delete.png")" />' +
                '</a>';
                </text>
                }
                else
                {
                    <text>
                return '<a style="float:left; margin-right: 7px; width:15px;" href="javascript:void(0);" onclick="EditFacility(' + data[7] + ');"><img src="/images/edit.png"></a>';
                </text>
                }

                @*'<a href="javascript:void(0);" title="Delete Facility" onclick=\'return OpenConfirmPopup(' + data[7] + ',\"Delete Facility\",\"\",DeleteItemInFacility,null)\' style="float: left; width: 15px;">' +
                       '<img src="@Url.Content("~/images/delete.png")" />' +
                       '</a>'*@
            }
        }];
        BindDataToJqDatatable("datatableContent", "/Facility/GetFListJson", true, true, columns)
    });
</script>


<div class="table table-striped">
    <table id="datatableContent" class="display table table_scroll" cellspacing="0">
        <thead class="gridHead">
            <tr class="gridRow">
                <th scope="col">Facility Name</th>
                <th scope="col">Corporate</th>
                <th scope="col">Facility Number</th>
                <th scope="col">Address</th>
                <th scope="col">Facility ZipCide</th>
                <th scope="col">Facility LicenseNnumber</th>
                <th scope="col">Facility LicenseNnumberExpire</th>
                <th class="center" scope="col">Action</th>
            </tr>
        </thead>
    </table>
</div>



@*@if (Model != null && Model.Any())
    {
        var grid = new WebGrid(Model, ajaxUpdateContainerId: "gridContent", canPage: false);
        <div id="gridContent">
            @grid.GetHtml(htmlAttributes: new { id = "FacilityGrid" }, tableStyle: "table table_scroll", headerStyle: "gridHead", footerStyle: "gridFooter",
                                                    rowStyle: "gridRow", alternatingRowStyle: "gridAltRow", columns: grid.Columns(
                                                    grid.Column("FacilityName", "Facility Name", canSort: true, style: "col1"),
                                                    grid.Column("CorporateName", "Corporate", canSort: true, style: "col2"),
                                                    grid.Column("FacilityNumber", "Facility Number", canSort: true, style: "col3"),
                                                    grid.Column("FacilityStreetAddress", "Address", canSort: true, style: "col4"),
                                                    grid.Column("FacilityZipCode", "Facility ZipCode", canSort: true, style: "col5"),
                                                    grid.Column("FacilityLicenseNumber", "Facility LicenseNumber", canSort: true, style: "col6"),
                                                    grid.Column("FacilityLicenseNumberExpire", "Facility LicenseNumber Expire", canSort: true, style: "col7", format: @<text>@if (item.FacilityLicenseNumberExpire != null)
                                                    { @item.FacilityLicenseNumberExpire.ToString("dd/MM/yyyy")
                                                    }</text> ),
                                        grid.Column(header: "Action", style: "col8", format: @<text>
                                                            <a href="javascript:void(0);" title="Edit Facility" onclick="EditFacility('@item.FacilityId')" style="float: left; margin-right: 7px; width: 15px;">
                                                                <img src="@Url.Content("~/images/edit.png")" />
                                                            </a>
                                                            @if (sessionClass != null && sessionClass.UserId == 1)
                                                            {
                                                                <a href="javascript:void(0);" title="Delete Facility" onclick="return OpenConfirmPopup('@item.FacilityId','Delete Facility','',DeleteItemInFacility,null); " style="float: left; width: 15px;">
                                                                    <img src="@Url.Content("~/images/delete.png")" />
                                                                </a>
                                                            }
                                        </text>)
                                                                                          ))
            <h6>* Click on any column heading to sort</h6>
        </div>
    }
    else
    {
        <h2>No Record found</h2>
    }
    <script>
        $(function () {
            $('.table_scroll').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
            SetGridSorting(BindFaciltyList, "#gridContent");
        });
    </script>*@