@using BillingSystem.Common
@using BillingSystem.Model
@model Categories

<style>
    .btn-group {
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .clear {
        clear: both;
    }

    select {
        margin-bottom: 10px;
    }
</style>
<div class="form" id="CategoryFormDiv">
    @Html.HiddenFor(m => m.Id)
    @*// BBCOLUMNSHERE*@
    <div class="col-sm-3">
        <div class="rowTable">
            <label><span class="mandatoryStar"></span>Category Number:</label>
            @Html.TextBoxFor(m => m.ProdCatNumber, new { @maxlength = "50", @id = "txtProdCatNumber", @class = "validate[required,custom[integer]]" })
        </div>
    </div>
    <div class="col-sm-3">
        <div class="rowTable">
            <label><span class="mandatoryStar"></span>Category Name:</label>
            @Html.TextBoxFor(m => m.ProdCat, new { @maxlength = "50", @id = "txtProdCat", @class = "validate[required]" })

        </div>
    </div>

    <div class="col-sm-6"></div>
    <div class="clear"></div>

    <div class="col-sm-3">
        <div class="rowTable">
            <label> Subcategory:</label>
            @Html.TextBoxFor(m => m.ProdSubcat, new { @maxlength = "10", @id = "txtProdSubcat", @class = "" })
        </div>
    </div>
    <div class="col-sm-3">
        <div class="rowTable">
            <label> Subcategory2:</label>
            @Html.TextBoxFor(m => m.ProdSubcat2, new { @maxlength = "10", @id = "txtProdSubcat2", @class = "" })
        </div>
    </div>
    <div class="col-sm-3">
        <div class="rowTable">
            <label> Subcategory3:</label>
            @Html.TextBoxFor(m => m.ProdSubcat3, new { @maxlength = "10", @id = "txtProdSubcat3", @class = "" })
        </div>
        </div>
    </div>


    <div class="clear"></div>

    <div class="btn-group">

        @{
            var saveText = Model != null && Model.Id > 0 ? "Update" : "Save";
        }
        <input type="submit" id="btnSaveCategory" class="btn btn-primary edit-btn marginBtn" value="@saveText" onclick="return SaveCategory();" />
        <button name="ClientCancel" class="btn btn-primary edit-btn marginBtn" type="button" onclick="return ClearCategoryForm();">Cancel</button>
    </div>
</div>

