@using BillingSystem.Model
@model PatientInfoChangesQueue

<style>
    .btn-group {
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .clear {
        clear: both;
    }

    select {
        margin-bottom: 10px;
    }
</style>

@{
    var btnSaveText = "Save";
    if (Model.PatientInfoChangesQueueID != null && Model.PatientInfoChangesQueueID != 0)
    {
        btnSaveText = "Update";
    }
}
<div class="form" id="PatientInfoChangesQueueFormDiv">
    @*// BBCOLUMNSHERE*@
   <div class="col-sm-3">
      <div class="rowTable">
        <label>Id:</label>
        @Html.TextBoxFor(m => m.Id, new { @maxlength = "10", @id = "txtId" })
      </div>
      <div class="rowTable">
        <label>TableName:</label>
        @Html.TextBoxFor(m => m.TableName, new { @maxlength = "50", @id = "txtTableName" })
      </div>
      <div class="rowTable">
        <label>ColumnName:</label>
        @Html.TextBoxFor(m => m.ColumnName, new { @maxlength = "50", @id = "txtColumnName" })
      </div>
      <div class="rowTable">
        <label>OldValue:</label>
        @Html.TextBoxFor(m => m.OldValue, new { @maxlength = "500", @id = "txtOldValue" })
      </div>
      <div class="rowTable">
        <label>NewValue:</label>
        @Html.TextBoxFor(m => m.NewValue, new { @maxlength = "500", @id = "txtNewValue" })
      </div>
   </div>
   <div class="col-sm-3">
      <div class="rowTable">
        <label>GlobalCodeValue:</label>
        @Html.TextBoxFor(m => m.GlobalCodeValue, new { @maxlength = "50", @id = "txtGlobalCodeValue" })
      </div>
      <div class="rowTable">
        <label>GlobalCodeCategory:</label>
        @Html.TextBoxFor(m => m.GlobalCodeCategory, new { @maxlength = "50", @id = "txtGlobalCodeCategory" })
      </div>
      <div class="rowTable">
        <label>Status:</label>
        @Html.TextBoxFor(m => m.Status, new { @maxlength = "10", @id = "txtStatus" })
      </div>
      <div class="rowTable">
        <label>PatientId:</label>
        @Html.TextBoxFor(m => m.PatientId, new { @maxlength = "10", @id = "txtPatientId" })
      </div>
      <div class="rowTable">
        <label>CorporatId:</label>
        @Html.TextBoxFor(m => m.CorporatId, new { @maxlength = "10", @id = "txtCorporatId" })
      </div>
   </div>
   <div class="col-sm-3">
      <div class="rowTable">
        <label>FacilityId:</label>
        @Html.TextBoxFor(m => m.FacilityId, new { @maxlength = "10", @id = "txtFacilityId" })
      </div>
      <div class="rowTable">
        <label>CreatedBy:</label>
        @Html.TextBoxFor(m => m.CreatedBy, new { @maxlength = "10", @id = "txtCreatedBy" })
      </div>
      <div class="rowTable">
        <label>CreatedDate:</label>
        @Html.TextBoxFor(m => m.CreatedDate,"{0:MM/dd/yyyy}", new { @maxlength = "10", @id = "dtCreatedDate" })
      </div>
      <div class="rowTable">
        <label>ModifiedBy:</label>
        @Html.TextBoxFor(m => m.ModifiedBy, new { @maxlength = "10", @id = "txtModifiedBy" })
      </div>
      <div class="rowTable">
        <label>ModifiedDate:</label>
        @Html.TextBoxFor(m => m.ModifiedDate,"{0:MM/dd/yyyy}", new { @maxlength = "10", @id = "dtModifiedDate" })
      </div>
   </div>
   <div class="col-sm-3">
      <div class="rowTable">
        <label>ApprovedBy:</label>
        @Html.TextBoxFor(m => m.ApprovedBy, new { @maxlength = "10", @id = "txtApprovedBy" })
      </div>
      <div class="rowTable">
        <label>ApprovedDate:</label>
        @Html.TextBoxFor(m => m.ApprovedDate,"{0:MM/dd/yyyy}", new { @maxlength = "10", @id = "dtApprovedDate" })
      </div>
      <div class="rowTable">
        <label>IsActive:</label>
        @Html.TextBoxFor(m => m.IsActive, new { @maxlength = "10", @id = "txtIsActive" })
      </div>
      <div class="rowTable">
        <label>ExternalValue1:</label>
        @Html.TextBoxFor(m => m.ExternalValue1, new { @maxlength = "50", @id = "txtExternalValue1" })
      </div>
      <div class="rowTable">
        <label>ExternalValue2:</label>
        @Html.TextBoxFor(m => m.ExternalValue2, new { @maxlength = "50", @id = "txtExternalValue2" })
      </div>
   </div>
    <div class="clear"></div>
    <div class="btn-group">
        <div style="float: left;">
            <input type="submit" id="btnSave" class="btn btn-primary edit-btn marginBtn" value="@btnSaveText" onclick="return SavePatientInfoChangesQueue();" />
            <button name="ClientCancel" id="btnCancel" class="btn btn-primary edit-btn marginBtn" type="button" onclick="return ClearPatientInfoChangesQueueForm();">Cancel</button>
        </div>
    </div>



</div>
