@model List<BillingSystem.Model.CustomModel.MedicalNotesCustomModel>
        
<div >
    @if (Model != null && Model.Count > 0)
    {
        var grid = new WebGrid(Model, ajaxUpdateContainerId: "gridContentNotes", canPage: false, canSort: true);
        <div id="gridContentNotes">
           @grid.GetHtml(htmlAttributes: new { id = "MedicalNotesGrid" }, tableStyle: "table", headerStyle: "gridHead", footerStyle: "gridFooter", rowStyle: "gridRow",
                                      columns:
                                          grid.Columns(
                grid.Column("MedicalNotes.Notes", "Notes", canSort: true), //, style: "thNotes"
                 grid.Column("NotesUserTypeName", "Added By User Type", canSort: true),
                 grid.Column("NotesTypeName", "Notes Type", canSort: true),
                 grid.Column("NotesAddedBy", "Added By", canSort: true),
                grid.Column("MedicalNotes.NotesDate", "Added on", format: @<text>@if (item.MedicalNotes.NotesDate != null)
                                                                                 {
                                                                                     @item.MedicalNotes.NotesDate.ToString("dd/MM/yyyy HH:mm:ss")
                                                                                 }</text>),
                grid.Column(header: "Action", format: @<text>
                                                           <a href="javascript:void(0);" class="hideSummary" onclick="EditMedicalNotes('@item.MedicalNotes.MedicalNotesID') " style="float: left; margin-right: 7px; width: 15px;">
                                                               <img class="img-responsive" src="@Url.Content("~/images/edit.png")" /></a>
                                                           &nbsp;
            <a href="javascript:void(0);" title="Delete" class="hideSummary" onclick="return OpenConfirmPopup('@item.MedicalNotes.MedicalNotesID','Delete Medical Notes','',DeleteMedicalNotes,null); " style="float: left; width: 15px;"><img class="img-responsive" src="~/images/delete.png" /></a>

                                                       </text>)
                ))
        </div>
    }
    else
    {
        <h2>No Record found</h2>
    }
</div>


<script>
    $(function() {
        if ($('#MedicalNotesGrid tr').length > 6) {
            if ($('#collapseMedicalNotesList').hasClass('in'))
                $('#MedicalNotesGrid').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
            else {
                $('#collapseMedicalNotesList').addClass('in');
                $('#MedicalNotesGrid').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
                $('#collapseMedicalNotesList').removeClass('in');
            }
        }
        SetGridSorting(SortNotesdata, "#gridContentNotes");
    });
</script>
