@using BillingSystem.Model
@model RuleMaster

<style>
    .btn-group {
        margin-top: 10px;
    }
    select {
        margin-bottom: 10px;
    }
</style>
<div class="form" id="RuleMasterFormDiv">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        @Html.HiddenFor(m => m.RuleMasterID, new { @id = "hdRuleMasterID" })
      @*  <div class="rowTable">
            <label><span class="mandatoryStar"></span>Corporate:</label>
            @Html.HiddenFor(m => m.CorporateID, new { @id = "hdCorporateID" })
            <select id="ddlCorporates" class="validate[required]"></select>
        </div>
        <div class="rowTable">
            <label>Facility:</label>
            @Html.HiddenFor(m => m.FacilityID, new { @id = "hdFacilityID" })
            <select id="ddlFacilities" onchange="BindFacilityRoles()"></select>
        </div>*@
        <div class="rowTable">
            <label><span class="mandatoryStar"></span>Rule Type:</label>
            @Html.HiddenFor(m => m.RuleType, new { @id = "hdRuleType" })
            <select id="ddlRuleTypes" class="validate[required]">
                <option value="0">--Select--</option>
                <option value="1" selected="selected">Normal</option>
                <option value="2">Other</option>
            </select>
        </div>
         <div class="rowTable">
            <label><span class="mandatoryStar"></span>Rule Code:</label>
            @Html.TextBoxFor(m => m.RuleCode, new { @maxlength = "25", @id = "txtRuleCode", @class = "validate[required,custom[integer]]" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="rowTable">
            <label>Responsible User Role:</label>
            @Html.HiddenFor(m => m.RoleId, new { @id = "hdRoleId" })
            <select id="ddlRoles">
            </select>
        </div>
          <div class="rowTable">
              <label>Rule Specified for:</label>
              @(string.IsNullOrEmpty(Model.RuleSpecifiedFor) ? Html.HiddenFor(m => m.RuleSpecifiedFor, new {@id = "hdRuleSpecifiedFor", @Value = "3"}) : Html.HiddenFor(m => m.RuleSpecifiedFor, new {@id = "hdRuleSpecifiedFor"}))
              <select id="ddlRuleSpecifiedFor" class="validate[required]">
              </select>
        </div>
        @*<div class="rowTable">
            <label>Other Values:</label>
            @Html.TextBoxFor(m => m.ExtValue1, new { @maxlength = "500", @id = "txtExtValue1" })
        </div>*@
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="rowTable">
            <label>Rule Description:</label>
            @Html.TextAreaFor(m => m.RuleDescription, new { @maxlength = "500", @id = "txtRuleDescription" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="rowTable">
            <label>Effective Start Date:</label>
            @Html.TextBoxFor(m => m.EffectiveStartDate, "{0:MM/dd/yyyy}", new { @class = "dtGeneral", @maxlength = "10", @id = "dtEffectiveStartDate" })
        </div>
        <div class="rowTable">
            <label>Effective End Date:</label>
            @Html.TextBoxFor(m => m.EffectiveEndDate, "{0:MM/dd/yyyy}", new { @maxlength = "10", @class = "dtGreaterThanCurrent", @id = "dtEffectiveEndDate" })
        </div>
        <div class="form-group">
            <label>Is Active:</label>
            @{
                var isActive = false;
                if (Model != null && Model.IsActive != null)
                {
                    isActive = (bool)Model.IsActive;
                }
            }
            @Html.CheckBoxFor(m => isActive, new { @id = "chkRuleMasterIsActive" })
        </div>
    </div>

    <div class="clear"></div>
    <div class="btn-group">
        <div style="float: left;">
            @{
                var btnSaveText = "Save";
                if (Model != null && Model.RuleMasterID > 0)
                {
                    btnSaveText = "Update";
                }
            }
            <input id="BtnRuleMasterSave" type="submit" class="btn btn-primary edit-btn marginBtn" value="@btnSaveText" onclick="return SaveRuleMaster();" />
            <button id="BtnRuleMasterCancel" name="ClientCancel" class="btn btn-primary edit-btn marginBtn" type="button" onclick="return ClearRuleMasterForm();">Cancel</button>
        </div>
    </div>

</div>
