@using System.Reflection
@using BillingSystem.Common
@model BillingSystem.Models.ExternalDashboardView

@{
    ViewBag.Title = "Charges Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var style = "display:block;";
    var currentticks = Assembly.GetCallingAssembly().GetLinkerTime().Ticks;
}

<div class="white-bg">
    <div class="panel panel-default collapsecss ourcollapse bordertable">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseReporting">
            <h4 class="panel-title collapseTitle">
                <span>
                    <img src="@Url.Content("~/images/list.png")">
                </span>&nbsp; Selection
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="collapseReporting" class="panel-collapse tableImg collapse">
            <div class="panel-body">
                <div class="base-color">
                    <div class="form" style="min-height: 90px;">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                            <div class="rowTable">
                                @Html.HiddenFor(m => m.DashboardType, new { @id = "hdDashboardType" })
                                <label>Facility:</label>
                                <select id="ddlFacility"></select>
                                @Html.HiddenFor(m => m.FacilityId, new { @id = "hdFacilityId" })

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                            <div class="rowTable">
                                <label>Month:</label>
                                <select id="ddlMonth"></select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                            <div class="rowTable">
                                <label>Facility Type:</label>
                                <select id="ddlFacilityType"></select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                            <div class="rowTable">
                                <label>Segment/Region:</label>
                                <select id="ddlRegionType"></select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                            <div class="rowTable">
                                <label>Department:</label>
                                <select id="ddlDepartment"></select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                            <div class="rowTable">
                                <button name="RebindGraphs" class="btn btn-primary edit-btn marginBtn" type="button" id="btnReBindGraphs">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="divRegProductivityDashboardView">
        <div class="panel panel-default collapsecss ourcollapse bordertable" style="@style">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseRegistrationProductivityCharts1">
                <h4 class="panel-title collapseTitle">
                    <span>
                        <img src="@Url.Content("~/images/list.png")">
                    </span>
                    @Model.Title Graph Section
                    <a class="btn btn-default btn-sm pull-right collapse-btn">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseRegistrationProductivityCharts1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="base-color">
                        <div class="form">
                            <div class="col-sm-12 marginBottom10" style="border-bottom: solid 2px #e1e1e8;">
                                <h4 class="greenTitle">Section 1</h4>
                                <div class="col-sm-12" id="myDashboardGrossRoomChargesMonthly" style="float: left;">
                                </div>
                                @* <div class="col-sm-6" id="myDashboardGrossRoomChargesYearly" style="float: left;">
                                </div>*@
                            </div>
                            <div class="clear"></div>
                            <div class="col-sm-12 marginBottom10" style="border-bottom: solid 2px #e1e1e8;">
                                <h4 class="greenTitle">Section 2</h4>
                                <div class="col-sm-6" id="divAncilliaryRoomChargesMonthly" style="float: left;">
                                </div>
                                <div class="col-sm-6" id="divAncilliaryRoomChargesYearly" style="float: left;">
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="col-sm-12 marginBottom10">
                                <h4 class="greenTitle">Section 3</h4>
                                <div class="col-sm-12" id="divOPRoomChargesMonthly" style="float: left;">
                                </div>
                                @* <div class="col-sm-6" id="divOPRoomChargesYearly" style="float: left;">
                                </div>*@
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
        <div class="panel panel-default collapsecss ourcollapse bordertable" style="@style">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseSTATISTICS">
            <h4 class="panel-title collapseTitle">
                <span>
                    <img src="@Url.Content("~/images/list.png")">
                </span>
                @Model.Title  Statistics Section
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="collapseSTATISTICS" class="panel-collapse collapse in">
            <div class="panel-body scroller">
                <div class="base-color" id="divManualDashboardStats">
                    @{ Html.RenderPartial("~/Views/ExternalDashboard/UserControls/_ExternalDashboardList.cshtml", Model.DashboardStatisticsList); }
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/Scripts/ExternalDashboard/ExternalDashboardScript.js?@currentticks"></script>
