@*
    Owner: Amit Joshi
    On: 19092014
    Purpose: To Add Edit Service Code details
*@

@model BillingSystem.Model.ServiceCode
@using BillingSystem.Models

@{
    ViewBag.Title = "ServiceCode";
}
<style>
    .btn-group {
        margin-left: 5px;
        margin-top: 10px;
    }
</style>
<div id="ServiceCodeFormDiv">
    <input type="hidden" id="hfServiceCodeId" value='@Model.ServiceCodeId' />
    @Html.HiddenFor(m => m.ServiceCodeId)
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        @*<div class="rowTable" style="display: none;">
                <label><span class="mandatoryStar"></span>Table Number:</label>
                @Html.TextBoxFor(m => m.ServiceCodeTableNumber, new { @maxlength = "10", @ID = "txtServiceCodeTableNumber" })
            </div>
            <div class="rowTable">
                <label>Table Description:</label>
                @Html.TextBoxFor(m => m.ServiceCodeTableDescription, new { @maxlength = "30", @ID = "txtServiceCodeTableDescription" })
            </div>*@
        <div class="rowTable">
            <label><span class="mandatoryStar"></span>Value:</label>
            @Html.TextBoxFor(m => m.ServiceCodeValue, new { @maxlength = "10", @class = "validate[required[integer]]" })
        </div>
        <div class="rowTable">
            <label>Price:</label>
            @Html.TextBoxFor(m => m.ServiceCodePrice, new { @maxlength = "6", @class = "validate[optional[onlyNumberSp]]" })
        </div>
        <div class="rowTable">
            <label>Description:</label>
            @Html.TextBoxFor(m => m.ServiceCodeDescription, new { @maxlength = "80" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="rowTable">
            <label>Basic Application Rule:</label>
            @Html.TextBoxFor(m => m.ServiceCodeBasicApplicationRule, new { @maxlength = "250" })
        </div>
        <div class="rowTable">
            <label>Other Application Rule:</label>
            @Html.TextBoxFor(m => m.ServiceCodeOtherApplicationRule, new { @maxlength = "250" })
        </div>
        <div class="rowTable">
            <label>Can Override:</label>
            <input type="checkbox" id="canOveRide"/>
           </div>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="rowTable">
            <label>Effective Date:</label>
            @Html.TextBoxFor(m => m.ServiceCodeEffectiveDate, "{0:MM/dd/yyyy}", new { @maxlength = "10", @class = "dtGeneral" })
        </div>
        <div class="rowTable">
            <label>Expiry Date:</label>
            @Html.TextBoxFor(m => m.ServiceExpiryDate, "{0:MM/dd/yyyy}", new { @maxlength = "10", @class = "dtGreaterThanCurrent", @onchange = "CheckValidDateNotLessThanTodayDate(this,'ServiceExpiryDate')" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="rowTable">
            <label><span class="mandatoryStar"></span>Service Code Main:</label>
            <select id="ddlGlobalCodeCategories" class="validate[required]" onchange="return OnChangeGlobalCodeCategory();"></select>
        </div>
        <div class="rowTable">
            <label><span class="mandatoryStar"></span>Service Code Sub:</label>
            <select id="ddlGlobalCodes" class="validate[required]"></select>
        </div>
    </div>
    <div class="clear"></div>
    <div class="btn-group">
        <div style="float: left;">
            <input type="submit" class="btn btn-primary edit-btn marginBtn" id="btnSave" value="Save" onclick="return SaveServiceCode('0')" />
            <input type="submit" class="btn btn-primary edit-btn marginBtn" name="Command" value="Cancel" onclick="return ClearAll();" />
        </div>
    </div>
</div>




