
@model BillingSystem.Model.MedicalRecord

@{
    ViewBag.Title = "MedicalRecord";
}
<style>
    select {
    margin-bottom: 10px;}
</style>
<div class="form" id="MedicalRecordFormDiv">
@*// BBCOLUMNSHERE*@
   <div class="col-sm-3">
       <div class="rowTable">
           <label><span class="mandatoryStar"></span>Medical Record Type:</label>
           <select id="ddlMedicalRecordType" name="ddlMedicalRecordType" class="validate[required]"></select>
           @Html.HiddenFor(m => m.MedicalRecordType, new { @id = "hdMedicalRecordType" })
           @Html.HiddenFor(m => m.CommentBy, new { @id = "hdCommentBy" })
           @Html.HiddenFor(m => m.CommentDate, new { @id = "hdCommentDate" })
           @Html.HiddenFor(m => m.PatientID, new { @Id = "hdPatientID" })
           @Html.HiddenFor(m => m.EncounterID, new { @Id = "hdEncounterID" })
       </div>
       <div class="rowTable">
           <label>Medical Record Number:</label>
           @Html.TextBoxFor(m => m.MedicalRecordNumber, new { @maxlength = "200", @id = "txtMedicalRecordNumber" })
       </div>
       <div class="rowTable">
           <label>Global Code Category ID:</label>
           @Html.TextBoxFor(m => m.GlobalCodeCategoryID, new { @maxlength = "10", @id = "txtGlobalCodeCategoryID" })
       </div>
       <div class="rowTable">
           <label>Global Code:</label>
           @Html.TextBoxFor(m => m.GlobalCode, new { @maxlength = "10", @id = "txtGlobalCode" })
       </div>
   </div>
   <div class="col-sm-3">
      <div class="rowTable">
           <label>Short Answer:</label>
           @Html.TextBoxFor(m => m.ShortAnswer, new { @maxlength = "10", @id = "txtShortAnswer" })
       </div>
       <div class="rowTable">
           <label>Detail Answer:</label>
           @Html.TextBoxFor(m => m.DetailAnswer, new { @maxlength = "200", @id = "txtDetailAnswer" })
       </div>
       <div class="rowTable">
           <label>Answer Value Min:</label>
          @* @Html.TextBoxFor(m => m.AnswerValueMin, new { @maxlength = "10", @id = "txtAnswerValueMin" })*@
       </div>
       <div class="rowTable">
           <label>Answer Value Max:</label>
         @*  @Html.TextBoxFor(m => m.AnswerValueMax, new { @maxlength = "10", @id = "txtAnswerValueMax" })*@
       </div>
   </div>
   <div class="col-sm-3">
      <div class="rowTable">
        <label>Answer UOM:</label>
       @* @Html.TextBoxFor(m => m.AnswerUOM, new { @maxlength = "10", @id = "txtAnswerUOM" })*@
      </div>
      <div class="rowTable">
        <label>Comments:</label>
        @Html.TextBoxFor(m => m.Comments, new { @maxlength = "500", @id = "txtComments" })
      </div>
   </div>
    <div class="clear"></div>
    <div class="btn-group">
        <div style="float: left;">
            @if (Model.MedicalRecordID != 0)
            {  <input type="submit" class="btn btn-primary edit-btn marginBtn" value="Update" onclick="return SaveMedicalRecord('@Model.MedicalRecordID');" />
                <button name="ClientCancel" class="btn btn-primary edit-btn marginBtn" type="button" onclick="return ClearAll();">Cancel</button>
            }
            else
            {
                <input type="submit" onclick="return SaveMedicalRecord('@Model.MedicalRecordID');" class="btn btn-primary edit-btn marginBtn" value="Save" />
                <button name="ClientCancel" class="btn btn-primary edit-btn marginBtn" type="button" onclick="return ClearAll();">Cancel</button>
            }
            <br />
            <span id="lblMessage" style="display: none; font-weight: bold; margin-top: 5px;">Fields marked with <span style="color: red;">* </span>are mendatory.</span>
        </div>
    </div>
</div>
