@using BillingSystem.Common
@model BillingSystem.Model.CustomModel.PatientLoginDetailCustomModel

@{
    ViewBag.Title = "Reset Password For Patient Portal";
    Layout = null;
}
<link href="~/css/OmniCustom.css" rel="stylesheet" />
<link href="~/css/bootstrap.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="~/css/bootstrap-glyphicons.css">
<link rel="stylesheet" href="~/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="~/css/login.css">
<link href="@Url.Content("~/css/toastNotification/toastr.css")" rel="stylesheet" />
<style>
    body {
        background: #d3d3d3;
    }

    .resetPasswordContainer {
        margin: 100px auto;
        position: relative;
        width: 500px;
    }

    .resetPassword {
        display: block;
        z-index: 11;
    }
</style>

<div id="ResetPasswordDetailForm" class="white-bg resetPasswordContainer overflowHidden">
    <div class="col-sm-12 resetPassword">
        <h3>Reset Password</h3>
        <div class="col-sm-12">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.PatientId)
            @Html.HiddenFor(m => m.CodeValue)
            <div class="rowTable">
                <label><span class="mandatoryStar"></span>Facility:</label>
                @Html.TextBoxFor(m => m.Facility, new { @readonly = "readonly" })
            </div>
            @*<div class="rowTable">
                    <label><span class="mandatoryStar"></span>Password:</label>
                    @Html.PasswordFor(m => m.Password, new { @maxlength = "50", @class = "validate[required] passwordmatch emptyTxt" })
                </div>
                <div class="rowTable">
                    <label><span class="mandatoryStar"></span>Confirm Password:</label>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @maxlength = "50", @class = "validate[required] validate[passwordmatch] emptyTxt" })
                </div>*@
        </div>
        <div class="col-sm-12">
            <div class="rowTable">
                <label><span class="mandatoryStar"></span>Email:</label>
                @Html.TextBoxFor(m => m.Email, new { @readonly = "readonly" })
            </div>
        </div>
        <div class="col-sm-12">
            <div class="rowTable">
                <label><span class="mandatoryStar"></span>Birth Date:</label>
                <input type="text" name="BirthDate" id="txtBirthDate" maxlength="50" class="DateTime validate[required] emptyTxt" />
            </div>
        </div>
        <div class="col-sm-12">
            <div class="rowTable">
                <label><span class="mandatoryStar"></span>Emirate Id Number (Last 4 Digits):</label>
                <input type="text" name="EmirateId" id="txtEmirateId" maxlength="4" class="validate[required]" />
            </div>
        </div>
        <div class="clear"></div>
        <div class="btn-group">
            <button id="btnForgotPasswordSaveDetails" class="blue-btn btn btn-primary edit-btn marginBtn" style="margin-left: 2px;">Save</button>
            <button id="btnForgotPasswordCancelDetails" class="blue-btn btn btn-primary edit-btn marginBtn">Cancel</button>
        </div>
        <div class="clear"></div>
        <div id='divMessage' style="display: none; float: left; text-align: center;">
            <span>
                @ResourceKeyValues.GetKeyValue("patientportalisaccessiblemessage")
            </span>
            <span>
                <a href='@Url.Action(CommonConfig.LoginAction,CommonConfig.LoginController)'>@ResourceKeyValues.GetKeyValue("gotologin")</a>
            </span>
        </div>
    </div>
</div>
<script src="~/js/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery.blockUI.js"></script>
<script src="@Url.Content("~/Scripts/ToastNotification/toastr.js")"></script>
<script src="~/Scripts/PatientInfo/ResetPassword.js"></script>
<script src="~/Scripts/jquery.datetimepicker.js"></script>