@using BillingSystem.Model.CustomModel

@model List<BillDetailCustomModel>

@if (Model != null && Model.Count > 0)
{
    var grid = new WebGrid(Model, ajaxUpdateContainerId: "gridRoomChargesContent", canPage: false);
    <div id="gridRoomChargesContent">
        @grid.GetHtml(htmlAttributes: new {id = "BillActivityRoomChargesGrid"}, tableStyle: "table table_scroll2", headerStyle: "gridHead", footerStyle: "gridFooter", rowStyle: "gridRow",
            columns:
                grid.Columns(
                    grid.Column("ActivityName", "Activity Type", canSort: false, style: "colActivityTypeName"),
                    grid.Column("ActivityCode", "Activity Code", canSort: false, style: "colActivityCode"),
                    grid.Column("ActivityCodeDescription", "Activity Code Description", canSort: false, style: "colActivityCode"),
                    grid.Column("OrderedOn", "Ordered On", canSort: false, style: "colOrderedOn",
                        format: @<text>
                                     @if (item.OrderedOn != null)
                                     {
                                         @item.OrderedOn.ToString("dd/MM/yyyy HH:mm:ss")
                                     }
                                 </text>),
                    grid.Column("ExecutedOn", "Executed On", canSort: false, style: "colExecutedOn",
                        format: @<text>
                                     @if (item.ExecutedOn != null)
                                     {
                                         @item.ExecutedOn.ToString("dd/MM/yyyy HH:mm:ss")
                                     }
                                 </text>),
                    grid.Column("QuantityOrdered", "Quantity Ordered", canSort: false, style: "colQuantityOrdered"),
                    grid.Column("GrossCharges", "Activity Cost", canSort: false, style: "colGrossCharges"),
                    grid.Column("GrossChargesSum", "Charges", canSort: false, style: "col6"),
                    grid.Column(header: "Action", style: "diagnosisActions", format: @<text>
                                                                                          @*<a href="javascript:void(0);" title="Delete Current Activity" onclick="DeleteRoomChargesBillActivity('@item.BillActivityId', '@item.BillHeaderId') " style="float: left; margin-right: 7px; width: 15px;">
              <img src="~/images/delete_small.png" />
             </a>*@ 
        <a href="javascript:void(0);" title="Delete" onclick="return OpenConfirmPopupWithTwoId('@item.BillActivityId','@item.BillHeaderId','Delete Current Activity','',DeleteRoomChargesBillActivity,null); " style="float: left; width: 15px;">
            <img src="@Url.Content("~/images/delete.png")" />
        </a>
                                                                                      </text>)
                    ))
    </div>
}
else
{
    <h2>No Record found</h2>
}
<script type="text/javascript">
    $(function () {
        if ($('#BillActivityRoomChargesGrid tr').length > 4) {
            $('#BillActivityRoomChargesGrid').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
        }
        $("#BillActivityRoomChargesGrid tbody tr").each(function (i, row) {
            var $actualRow = $(row);
            if ($actualRow.find('.colActivityCode').html().indexOf('Total') != -1) {
                $actualRow.addClass('rowColor9');
            } else {
                $actualRow.removeClass('rowColor9');
            }
        });
        
    });
</script>