@using BillingSystem.Model.CustomModel
@model List<GlobalCodeCustomModel>

@if (Model != null && Model.Count > 0)
{
    var grid = new WebGrid(Model, ajaxUpdateContainerId: "gridContent", canPage: false);
    <div id="gridContent">
        @grid.GetHtml(htmlAttributes: new { id = "GlobalCodeGrid" }, tableStyle: "table table_scroll", headerStyle: "gridHead", footerStyle: "gridFooter",
                                        rowStyle: "gridRow", alternatingRowStyle: "gridAltRow", columns: grid.Columns(
                                        grid.Column("GlobalCodes.GlobalCodeName", "Vital", canSort: true, style: "col2"),
                                        grid.Column("GlobalCodes.Description", "Description", canSort: true, style: "col4"),
                                        grid.Column("GlobalCodes.ExternalValue1", "Minimum Value", canSort: true, style: "col4"),
                                        grid.Column("GlobalCodes.ExternalValue2", "Maximum Value", canSort: true, style: "col4"),
                                        grid.Column("UnitOfMeasure", "Unit Of Measure", canSort: true, style: "col4"),
                                        grid.Column(header: "Action", style: "col5", format: @<text>
                                            <a href="javascript:void(0);" title="Edit" onclick="EditVitals('@item.GlobalCodes.GlobalCodeID')" style="float: left; margin-right: 7px; width: 15px;">
                                                <img src="@Url.Content("~/images/edit.png")" />
                                            </a>
                                            @*        <a href="javascript:void(0);" title="Delete Global Code" onclick="DeleteVital('@item.GlobalCodes.GlobalCodeID');" style="float: left; width: 15px;">
                                                    <img src="@Url.Content("~/images/delete.png")" />
                                                </a>*@
                                            @*<a href="javascript:void(0);" title="Delete" onclick="return OpenConfirmPopup('@item.GlobalCodes.GlobalCodeID','Delete Vital','',DeleteVital,null); " style="float: left; width: 15px;">
                                                <img src="@Url.Content("~/images/delete.png")" />
                                            </a>*@

                                        </text>)
 ))<h6>* Click on any column heading to sort</h6>
    </div>
}
else
{
    <h2>No Record found</h2>
}

<script>
    $(function () {
        $('.table_scroll').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
        SetGridSorting(SortVitalGridGrid, "#gridContent");
    });
</script>