@using BillingSystem.Common
@using BillingSystem.Common.Common
@using BillingSystem.Model.CustomModel

@model IEnumerable<PatientInfoCustomModel>

<div id="divSearchResult">
    <div class="table-responsive">
        @if (Model != null)
        {
            if (Model.Any())
            {
                var firstItem = Model.First();
                var ehrView = true;
                var schedularview = true;
                //var transactionView = true;
                var billHeaderView = true;
                var authorizationView = true;
                var editPatientInfoView = true;
                if (firstItem != null)
                {
                    ehrView = firstItem.EhrViewAccessible;
                    //transactionView = firstItem.TransactionsViewAccessible;
                    billHeaderView = firstItem.AuthorizationViewAccessible;
                    authorizationView = firstItem.BillHeaderViewAccessible;
                    editPatientInfoView = firstItem.PatientInfoAccessible;
                    schedularview = firstItem.SchedularViewAccessible;
                }

                var grid = new WebGrid(Model, ajaxUpdateContainerId: "gridContent", canPage: false);
                <div id="gridContent">
                    @grid.GetHtml(htmlAttributes: new { id = "PatientSearch" }, tableStyle: "table table-grid", headerStyle: "gridHead", footerStyle: "gridFooter",
                        rowStyle: "gridRow", alternatingRowStyle: "gridAltRow", columns: grid.Columns(
                            grid.Column(header: "Is VIP", canSort: true, style: "col1", format: @<text>
                            @if (!string.IsNullOrEmpty(item.PatientInfo.PersonVIP))
                            {
                                <span style="float: left;">
                                    <img style="height: 20px; width: 20px" src="@Url.Content("~/images/vip2.png")" />
                                </span>
                            } </text>),
                                                                                          grid.Column("PatientInfo.PersonFirstName", "First Name", canSort: true, style: "col2"),
                            grid.Column("PatientInfo.PersonLastName", "Last Name", canSort: true, style: "col3"),
                            grid.Column("PatientInfo.PersonBirthDate", "Birth Date", canSort: true, style: "col4", format: @<text>
                                @if (item.PatientInfo.PersonBirthDate != null)
                                {
                                    @item.PatientInfo.PersonBirthDate.ToString("dd/MM/yyyy")
                                }
                            </text>),
                            grid.Column("PatientInfo.PersonAge", "Age", canSort: true, style: "col5"),
                            grid.Column("PatientInfo.PersonPassportNumber", "Passport Number", canSort: true, style: "col6"),
                            grid.Column("PatientInfo.PersonContactNumber", "Contact Number", canSort: true, style: "col7"),
                            grid.Column("PatientInfo.PersonEmiratesIDNumber", ResourceKeyValues.GetKeyValue("socialsecuritynumber"), canSort: true, style: "col8"),
                            grid.Column(header: "Action", style: "col7", format: @<text>

                                @if (editPatientInfoView)
                                {
                                    <a class="editPatientAnchor" href="javascript:void(0);" onclick="EditPatient('@item.PatientInfo.PatientID') " style="float: left; margin-right: 7px; width: 15px;" title="Edit patient details">
                                        <img src="@Url.Content("~/images/edit.png")" />
                                    </a>
                                }
                                @if (ehrView)
                                {
                                    <a href="javascript:void(0);" title="View EHR" onclick="return RedirectEHR('@item.PatientInfo.PatientID'); " style="float: left; margin-right: 7px; width: 15px;">
                                        <img src="@Url.Content("~/images/view_EHR.png")" />
                                    </a>
                                }
                                @if (authorizationView)
                                {
                                    if (item.IsEncounterExist)
                                    {
                                        if (item.IsAuthorizationExist)
                                        {
                                            <a href="javascript:void(0);" title="Edit Authorization" onclick="return ViewAuth('@item.PatientInfo.PatientID'); " style="float: left; margin-right: 7px; width: 15px;">
                                                <img src="@Url.Content("~/images/Authorization_green.png")" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0);" title="Get Authorization" onclick="return ViewAuth('@item.PatientInfo.PatientID'); " style="float: left; margin-right: 7px; width: 15px;">
                                                <img src="@Url.Content("~/images/Authorization_red.png")">
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        <a href="javascript:void(0);" title="Get Authorization" onclick="return ViewAuth('@item.PatientInfo.PatientID'); " style="float: left; margin-right: 7px; width: 15px;">
                                            <img src="@Url.Content("~/images/Authorization.png")" />
                                        </a>
                                    }
                                }
                                @if (billHeaderView)
                                {
                                    <a href="@Url.Action("Index", "BillHeader", new { id = item.PatientInfo.PatientID, typeId = Convert.ToInt32(QueryStringType.Patient) })" style="float: left; margin-right: 7px; width: 15px;" title="Bill Header View">
                                        <img src="@Url.Content("~/images/Billicon.png")" />
                                    </a>
                                }
                                @*@if (schedularview)
                                    {
                                        <a href="@Url.Action("Index", "PatientScheduler", new { pId = item.PatientInfo.PatientID })" style="float: left; margin-right: 7px; width: 15px;" title="Schedule">
                                            <img src="@Url.Content("~/images/schedule.png")" />
                                        </a>
                                    }*@
                            </text>)
                                                                                                                    ))
                </div>
            }
            else
            {
                <h2>No Record found</h2>
            }
        }
    </div>
</div>
