@using Kendo.Mvc.UI
@model List<BillingSystem.Model.InsuranceCompany>

<div class="form">
    <div class="table-responsive">
        @*<div>
                @if (Convert.ToString(Request.QueryString["IsDrafted"]) == "true")
                { <input type="button" id="btnGetDraftedRecord" class="blue-btn" value="Get Saved Record (s)" onclick="GetAllRecords();" />}
                else
                {
                    <input type="button" id="btnGetDraftedRecord" class="blue-btn" value="Get Drafted Record (s)" onclick="GetDraftRecords();" />
                }
            </div>*@

        @if (Model != null)
        {
            var grid = new WebGrid(Model, ajaxUpdateContainerId: "gridContent", canPage: false);
            <div id="gridContent">
                @grid.GetHtml("table table_scroll", "gridHead", "gridFooter", "gridRow", "gridAltRow", columns: grid.Columns(
                                grid.Column("InsuranceCompanyLicenseNumber", "Payor ID"),
                                grid.Column("InsuranceCompanyName", "Company Name"),
                                grid.Column("InsuranceCompanyStreetAddress", "Address"),
                                grid.Column("InsuranceCompanyCity", "City", style: "width150"),
                                grid.Column("InsuranceCompanyZipCode", "Zip Code", style: "width100"),
                                grid.Column("InsuranceCompanyMainPhone", "Company Main Phone"),
                //grid.Column("InsuranceCompanyFax", "Company Fax"),
                                grid.Column("InsuranceCompanyEmailAddress", "Email Address"),
                                grid.Column(header: "Action", format: @<text>
                <a href="#" onclick="EditInsuranceCompany('@item.InsuranceCompanyId')" style="float: left; margin-right: 7px; width: 15px;">
                    <img src="@Url.Content("~/images/edit.png")" /></a>
                              @*<a href="#" title="Delete Insurance Company" onclick="return DeleteInsuranceCompany('@item.InsuranceCompanyId');" style="float: left; width: 15px;">
                    <img src="@Url.Content("~/images/delete.png")" />
                </a>*@
                <a href="javascript:void(0);" title="Delete" onclick="return OpenConfirmPopup('@item.InsuranceCompanyId','Delete Insurance Company','',DeleteInsuranceCompany,null); " style="float: left; width: 15px;">
                    <img src="@Url.Content("~/images/delete.png")" />
                </a>

                                                                       </text>)
))<h6>* Click on any column heading to sort</h6>
            </div>
        }
        else
        {

            <h2>No Record found</h2>
        }
    </div>
</div>

<script>
    $(function() {
        $('.table_scroll').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
        SetGridSorting(SortInsuranceCompanyGrid, "#InsuranceCompanyListDiv");

    });
</script>