@using BillingSystem.Model
@model PatientCarePlan

<style>
    .btn-group {
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .clear {
        clear: both;
    }

    select {
        margin-bottom: 10px;
    }
</style>
<div class="form" id="PatientCarePlanFormDiv">
    @*// BBCOLUMNSHERE*@
    @Html.HiddenFor(m => m.Id, new { @id = "hdPatientCareId" })
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label>Patient:</label>
                @Html.TextBoxFor(m => m.PatientId, new { @maxlength = "50", @id = "txtPatientId", @class="form-control" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Care Plan:</label>
                <select class="form-control" id="ddlCarePlan" onchange="BindCarePlanTask();"></select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Care Task:</label>
                <select class="form-control" id="ddlCareTask"></select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>From Date:</label>
                @Html.TextBoxFor(m => m.FromDate, "{0:MM/dd/yyyy}", new { @maxlength = "10", @id = "dtFromDate", @class = "dtGeneral validate[required] form-control" })
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Till Date:</label>
                @Html.TextBoxFor(m => m.TillDate, "{0:MM/dd/yyyy}", new { @maxlength = "10", @id = "dtTillDate", @class = "dtGeneral validate[required] form-control" })
            </div>
        </div>


        <div class="col-sm-12">

            @{
                var saveText = Model != null && Model.Id > 0 ? "Update" : "Save";
            }
            <input type="submit" id="btnSavePatientCarePlan" class="btn btn-primary" value="@saveText" onclick="return SavePatientCarePlan();" />
            <button name="ClientCancel" class="btn btn-default" type="button" onclick="return ClearPatientCarePlanForm();">Cancel</button>
        </div>
    </div>
</div>
