@using BillingSystem.Common
@using CaptchaMvc.HtmlHelpers
@model BillingSystem.Model.Users
@{
    Layout = null;
}


<!DOCTYPE html>

<html style="height:100%;">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="~/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/css/login.css">
    <title>Login</title>
    <script src="~/Scripts/jquery-1.7.2.js"></script>
    <script src="~/Scripts/jquery-1.7.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/Scripts/json2.js"></script>
    <script src="~/Scripts/Main.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/jquery.maskedinput-1.2.2.js"></script>
    <style>
        .loginWrapper {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            background: url(../images/LoginBanner.png) no-repeat 0 0;
            background-size: cover;
            overflow: hidden;
        }

        .loginContainer {
            background: rgba(108,217,215,0.9);
            background: #0a71b3;
            background: -moz-linear-gradient(top, #0a71b3 0%, #0a71b3 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed0700), color-stop(100%,#f50736));
            background: -webkit-linear-gradient(top, #ed0700 0%,#f50736 100%);
            background: -o-linear-gradient(top, #ed0700 0%,#f50736 100%);
            background: -ms-linear-gradient(top, #ed0700 0%,#f50736 100%);
            background: linear-gradient(to bottom, #0a71b3 0%,#0a71b3 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed0700', endColorstr='#f50736',GradientType=0 );
            box-shadow: 0 1px 5px #8c8c8c;
        }

        @@media only screen and (min-width: 768px) {

            .loginContainer {
                background: rgba(108,217,215,0.9);
                background: #0a71b3;
                background: -moz-linear-gradient(top, #0a71b3 0%, #0a71b3 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed0700), color-stop(100%,#f50736));
                background: -webkit-linear-gradient(top, #ed0700 0%,#f50736 100%);
                background: -o-linear-gradient(top, #ed0700 0%,#f50736 100%);
                background: -ms-linear-gradient(top, #ed0700 0%,#f50736 100%);
                background: linear-gradient(to bottom, #0a71b3 0%,#0a71b3 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed0700', endColorstr='#f50736',GradientType=0 );
                box-shadow: 0 1px 5px #8c8c8c;
                margin-top: 10%;
                margin-right: 40px;
                padding: 10px;
                min-height: 200px;
                overflow: hidden;
                width: 400px;
                float: right;
                border-radius: 5px;
                color: #fff !important;
                font-family: 'Armata', sans-serif;
            }
        }

        .cstm-input {
            background-color: transparent !important;
            text-shadow: none !important;
            color: #fff !important;
            border-radius: 0px !important;
            margin-top: -8px;
            border-top: none !important;
            border-right: none !important;
            border-left: none !important;
        }

            .cstm-input:hover, .cstm-input:focus, .cstm-input:active {
                background-color: transparent !important;
                text-shadow: none !important;
                color: #fff !important;
                border-radius: 0px !important;
                border-bottom: 1px solid #fff !important;
                border-top: none !important;
                border-right: none !important;
                border-left: none !important;
                box-shadow: none !important;
            }

        #CaptchaInputText:hover, #CaptchaInputText:focus, #CaptchaInputText:active {
            background-color: transparent !important;
            text-shadow: none !important;
            color: #fff !important;
            border-radius: 0px !important;
            border-bottom: 1px solid #fff !important;
            border-top: none !important;
            border-right: none !important;
            border-left: none !important;
            box-shadow: none !important;
        }

        #CaptchaInputText {
            color: #555;
            display: block;
            font-size: 14px !important;
            border-radius: 6px;
            height: 46px;
            line-height: 1.33;
            background-color: transparent !important;
            text-shadow: none !important;
            color: #fff !important;
            border-radius: 0px !important;
            margin-top: -8px;
            border-top: none !important;
            border-right: none !important;
            border-left: none !important;
        }

        .form-control::-moz-placeholder {
            color: #bcbcbc !important;
            opacity: 0.8 !important;
        }

        .form-control::-moz-placeholder {
            color: #bcbcbc !important;
            opacity: 0.8 !important;
        }

        .form-control:-ms-input-placeholder {
            color: #bcbcbc !important;
            opacity: 0.8 !important;
        }

        .form-control:-moz-placeholder {
            color: #bcbcbc !important;
            opacity: 0.8 !important;
        }

        input[type="password"], input[type="text"], ::-webkit-input-placeholder {
            color: #dcdcda !important;
        }

            input[type="password"], input[type="text"]::-moz-placeholder {
                color: #dcdcda !important;
            }

            input[type="password"], input[type="text"]:-ms-input-placeholder {
                color: #dcdcda !important;
            }

            input[type="password"], input[type="text"]:-moz-placeholder {
                color: #dcdcda !important;
            }
    </style>
    @*<link rel="stylesheet" href="~/css/OmniCustom.css">*@
    <link rel="stylesheet" href="@Url.Content("~/Plugins/ValidationEngine/css/validationEngine.jquery.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/jquery.qtip.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Plugins/ValidationEngine/css/validationEngine.jquery.css")" type="text/css" />
    <script src="~/Scripts/ClearForm.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="@Url.Content("~/Plugins/ValidationEngine/js/languages/jquery.validationEngine-en.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Plugins/ValidationEngine/js/jquery.validationEngine.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/ToastNotification/toastr.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.qtip.js")"></script>
    <link href="@Url.Content("~/css/toastNotification/toastr.css")" rel="stylesheet" />
    <link href="~/css/defaultTheme.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {
            $("#linkResetPwd").attr("onclick", "ShowResetPopupWindowGlobal();");
            //$("#UserName").val("");
            //$("#CaptchaInputText").addClass("cstm-input");
            $("#CaptchaInputText").attr("placeholder", "Verification Code");
        });

        function SendResetPasswordEmail() {
            var isValid = $("#globaldivResetPwd").validationEngine({ returnIsValid: true });
            if (isValid) {
                var userEmail = $("#userEmail").val();
                if (userEmail != "") {
                    var jsonData = JSON.stringify({
                        email: $("#userEmail").val()
                    });
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: '/Home/SendForgotPasswordLink',
                        data: jsonData,
                        async: false,
                        dataType: "json",
                        success: function (data) {
                            if (data != null && data.result == "1") {
                                $("#divhidepopup1GlobalResetPwd").hide();
                                $(".popup-coverbg").hide();
                                ShowMessage("A link has been sent to your email with Validation Token Code, to reset your password.", "Success", "success", true);
                            }
                            else if (data != null && data.result == "-1") {
                                ShowMessage("Email not found in our system. Please enter the valid Email!", "Alert", "warning", true);
                            }
                            else if (data != null && data.result == "-2") {
                                ShowMessage("Something went wrong while sending Email. Please try again later!", "Alert", "warning", true);
                            }
                            else if (data != null && data.result == "-3") {
                                ShowMessage("Something went wrong in the System. Please try again later!", "Alert", "warning", true);
                            }
                        },
                        error: function (msg) {
                        }
                    });
                }
            }
        }

        function ShowResetPopupWindowGlobal() {
            //$("#globaldivResetPwd").empty();
            //$("#globaldivResetPwd").html(data);
            $("#globaldivResetPwd").validationEngine();
            $("#divhidepopup1GlobalResetPwd").show();
            $("#userEmail").val('');
            $(".popup-coverbg").show();
        }

        function ChangePassword() {

            var flag = false;
            if ($("#txtNewPassword").val() == "") {
                flag = true;
                $("#sptxtNewPassword").text("Please Enter New password");
            }
            else {
                flag = false;
                $("#sptxtNewPassword").text("");
            }

            if ($("#txtConfirm").val() == "") {
                flag = true;
                $("#sptxtConfirm").text("Please enter confirm password");
            }
            else {
                flag = false;
                $("#sptxtConfirm").text("");
            }


            if (flag == true) {
                return false;
            }
            else {


                if ($("#txtNewPassword").val() != $("#txtConfirm").val()) {
                    $("#spErrorMsg1").text('Password and confirm password should match.');
                    return false;
                }


                var model = {
                    Password: $("#txtNewPassword").val()
                };

                var chek = false;
                var title = "";
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/Home/ChangePassword',
                    data: JSON.stringify(model),
                    dataType: "json",
                    beforeSend: function () { },
                    success: function (data) {

                        if (data) {
                            alert('Password Changed Successfully.');
                            window.location.href = "/Home/PatientLogin";
                        }
                        else {
                            alert('failed');
                        }

                    },
                    error: function (msg) {
                    }
                });


            }
        }

        function ShowMessage(msg, title, shortCutFunction, showCloseButton) {
            /// <summary>
            /// Shows the message.
            /// </summary>
            /// <param name="msg">The MSG.</param>
            /// <param name="title">The title.</param>
            /// <param name="shortCutFunction">The short cut function.</param>
            /// <param name="showCloseButton">The show close button.</param>
            /// <returns></returns>
            toastr.options = {
                "closeButton": showCloseButton,
                "debug": false,
                "positionClass": "toast-bottom-right",
                //"preventDuplicates": true,
                "onclick": null,
                "showDuration": "500",
                "hideDuration": "2000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            $("#toastrOptions").text("Command: toastr["
                + shortCutFunction
                + "](\""
                + msg
                + (title ? "\", \"" + title : '')
                + "\")\n\ntoastr.options = "
                + JSON.stringify(toastr.options, null, 2)
            );

            var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
            $toastlast = $toast;
        }
    </script>
    <script>

    </script>
</head>
<body style="height:100%;">
    <div class="main-wrap loginWrapper">
        <div class="">
            <div class="loginContainer" style="border-radius:0px;">
                <div class="loginForm col-sm-12 col-md-12 col-lg-12">
                    @using (Html.BeginForm(CommonConfig.LoginAction,CommonConfig.LoginController, FormMethod.Post))
                    {
                        if (ViewBag.check == null || ViewBag.check == "Failed" || ViewBag.check == "CaptchaFailed" || ViewBag.check == "FailedAttemptsOver"
                            || ViewBag.check.ToString().IndexOf("Offline") > 0 || ViewBag.check == "IsDeleted" || ViewBag.check == "Blocked" || ViewBag.check == "InActive")
                        {
                            <div>
                                <div class="text-center loginLogo">
                                    <h3 style="color: #e8ed24;margin:12px;">Voice Login</h3>
                                </div>
                                <h1 class="loginTitle">
                                    @if (ViewBag.check == "Failed")
                                    {
                                        <span id="spErrorMsg">Please enter correct username and password.</span>
                                    }
                                    @if (ViewBag.check == "Captcha")
                                    {
                                        <span id="spErrorMsg2">Verification code does not matched.</span>
                                    }
                                    else if (ViewBag.check == "CaptchaFailed")
                                    {
                                        <span id="spErrorMsg2">Verification code does not matched.</span>
                                    }
                                    else if (ViewBag.check == "FailedAttemptsOver")
                                    {
                                        <span id="spErrorMsg2">User is Blocked. kindly login after 30 minutes.</span>
                                    }
                                    else if (ViewBag.check == "Blocked")
                                    {
                                        <span id="spErrorMsg2">User is Blocked for 3 failed attempts.</span>
                                    }
                                    else if (ViewBag.check == "InActive")
                                    {
                                        <span id="spErrorMsg2">User is inActive. Please contact to your administrator.</span>
                                    }
                                </h1>
                                <div class="form-group">
                                    <label>UserName</label>
                                    @Html.TextBoxFor(m => m.UserName, new { @maxlength = "25", @class = "form-control cstm-input", @placeholder = "User Name" })
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    @Html.PasswordFor(m => m.Password, new { @maxlength = "25", @class = "form-control cstm-input", @placeholder = "Password" })
                                </div>
                                <div class="rowTable">
                                    @Html.Captcha("Try another", "", 4, "Required", true)
                                </div>

                                <div class="">
                                    <input type="submit" id="btnLogin" class="blue-btn btn" value="Login" style="background-color: #fff;color: #222;border-radius: 0px;" />
                                    <a href="#" id="linkResetPwd" class="pull-right" style="color: #e8ed24;margin-top: 6px;">Forgot Password?</a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div id="userRoleDiv" style="display: none;">
            </div>
        </div>

        @* Reset Password Div *@
        <div id="divhidepopup1GlobalResetPwd" class="hidePopUpGlobalResetPwd" style="display: none;">
            <div class="popup-coverbg"></div>
            <div class="popup-frame ">
                <div class="popup-main popup_small">
                    <div class="popup-content">
                        <div class="popup-close" onclick=" $.validationEngine.closePrompt('.formError', true); $('.hidePopUpGlobalResetPwd').hide(); ">X</div>
                        <h3>Forgot Password?</h3>
                        <div id="globaldivResetPwd">
                            <div class="form-group">
                                <label>Enter Email:</label>
                                <input id="userEmail" maxlength="100" class="form-control validate[custom[email]]" />
                            </div>
                            <input id="btnSendEmail" class="btn btn-primary btn-sm" type="button" value="Send Email" onclick="SendResetPasswordEmail();" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>