@using BillingSystem.Common
@using BillingSystem.Model.CustomModel
@model BillingSystem.Models.PatientSearchView

<div class="panel panel-default collapsecss ourcollapse">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapsePatientSearch">
        <h1 class="panel-title collapseTitle">
            <span class="glyphicon glyphicon-info-sign"></span>&nbsp;@ResourceKeyValues.GetKeyValue("patientinformation")
            <a class="btn btn-default btn-sm pull-right collapse-btn">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </h1>
    </div>
    <div id="collapsePatientSearch" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="base-color">
                @*<p class="mandatoryText">By entering more than one piece of information, you will receive a more accurate search result.:</p>*@
                <p class="mandatoryText">@ResourceKeyValues.GetKeyValue("patientsearchmandatorytext")</p>
                <div class="form" id="ValidatePatientSearch">
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="rowTable">
                            <label>@ResourceKeyValues.GetKeyValue("personlastname")</label>
                            @Html.TextBoxFor(m => m.PersonLastName, new { @maxlength = "20", @class = "large pull-left Atleast", @ID = "txtLastName" })
                        </div>
                        <div class="rowTable">
                            <label>@ResourceKeyValues.GetKeyValue("passportnumber")</label>
                            @Html.TextBoxFor(m => m.PersonPassportNumber, new { @maxlength = "20", @class = "large pull-left Atleast", @ID = "txtPassportnumber" })
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="rowTable">
                            <label>@ResourceKeyValues.GetKeyValue("contactmobilephone")</label>
                            @* @Html.DropDownListFor(m => m.CountryList, new SelectList(Model.CountryList, "CodeValue", "CountryWithCode"), "Select One", new { id = "MobileCode", @style = "float: left;", @onchange = "$('#txtMobileNumber').focus();" })*@
                            <div class="telephoneCol1">
                                <select id="ddlCountries" name="ddlCountries" class="marginBottomNone" onchange="OnCountryDropdownChange('#lblCountryCode','#ddlCountries'); $('#txtMobileNumber').focus();"></select>
                            </div>
                            <span id="lblCountryCode" class="marginTopPhoneNo" style="margin-left: 2px;"></span>
                            @Html.HiddenFor(m => m.PersonCountry, new { @id = "hdCountry" })
                            @Html.TextBoxFor(m => m.PersonContactNumber, new { ID = "txtMobileNumber", @maxlength = "11", @class = "telephoneCol2 large PhoneMask" })
                        </div>
                        <div class="rowTable">
                            <label>@ResourceKeyValues.GetKeyValue("personbirthdate")</label>
                            @Html.TextBoxFor(m => m.PersonBirthDate, new { @maxlength = "10", @class = "dtLessThanCurrent large pull-left", @ID = "txtBirthDate", @onchange = "CheckValidDateOfBirth(this,'txtBirthDate');" })
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="rowTable">
                            <label>@ResourceKeyValues.GetKeyValue("socialsecuritynumber")</label>
                            @Html.TextBoxFor(m => m.PersonEmiratesIDNumber, new { @maxlength = "20", @class = "large pull-left EmiratesMask Atleast", @ID = "txtEmiratesNationalId" })
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="btn-group">
                        <input type="submit" onclick="return SearchSchedulingPatient();" value="@ResourceKeyValues.GetKeyValue("search")" class="blue-btn btn btn-primary" id="btnSearch" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default collapsecss ourcollapse bordertable">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseSerachResult">
        <h1 class="panel-title collapseTitle">
            <span class="glyphicon glyphicon-info-sign"></span>&nbsp;@ResourceKeyValues.GetKeyValue("searchresult")
            <a class="btn btn-default btn-sm pull-right collapse-btn">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </h1>
    </div>
    <div id="collapseSerachResult" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="base-color">
                <div class="form scroller">
                    <div id="divSearchResult">
                        @*
                            Owner: Shashank Awasthy
                            On: 10092014
                            Purpose: Render the grid view in partial view to display the filtered data.
                        *@
                        @{Html.RenderPartial("~/Views/Scheduler/UserControls/_PatientSearchResultPView.cshtml", new List<PatientInfoCustomModel>());}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="panel panel-default collapsecss ourcollapse bordertable" id="divShowPatientNextAppointment" style="display: none;">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapsePatientScheduledAppointments">
        <h1 class="panel-title collapseTitle">
            <span class="glyphicon glyphicon-info-sign"></span>&nbsp;<span id="spnPatientName"></span>&nbsp;Patient Next Appointments
            <a class="btn btn-default btn-sm pull-right collapse-btn">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </h1>
    </div>
    <div id="collapsePatientScheduledAppointments" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="base-color">
                <div class="form scroller">
                    <div id="patientAppointmentTypes"></div>
                </div>
            </div>
        </div>
    </div>
</div>