@using System.Web.Optimization
@using BillingSystem.Model.CustomModel
@using Kendo.Mvc.UI
@model XPaymentReturnCustomModel

@Scripts.Render("~/bundles/kendo")
@Styles.Render("~/Content/kendo/css")
@Styles.Render("~/Content/bootstrap/css")
<div class="grayBg">
    <div class="personal-detail">
        <div class="btn-group">
            @*<a class="blue-btn btn btn-primary edit-btn marginBtn" onclick="ViewClaimDetails();" id="BtnViewClaim">View Claim Detail</a>*@
            @*<a class="blue-btn btn btn-primary edit-btn marginBtn" onclick="GenerateClaim();" id="BtnGenerateClaim">Generate Claim</a>*@
            <a class="blue-btn btn btn-primary edit-btn marginBtn" onclick="GenerateXMLFile();" id="BtnGenerateXMLFile">Generate XML File</a>
        </div>
        <div class="col-md-12">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="rowTable">
                    <label>Sender:</label>
                    <span>@Model.SenderID</span>
                </div>
                <div class="rowTable">
                    <label>Receiver:</label>
                    <span>@Model.ReceiverID</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="rowTable">
                    <label>Transaction Date:</label>
                    <span>@if (@Model.TransactionDate.HasValue)
                          {
                        @Model.TransactionDate.Value.ToShortDateString()
                          }</span>
                </div>
                <div class="rowTable">
                    <label>Claim Id:</label>
                    <span>@Model.ID</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="rowTable">
                    <label>Payer ID:</label>
                    <span>@Model.IDPayer</span>
                </div>
                <div class="rowTable">
                    <label>Provider ID:</label>
                    <span>@Model.ProviderID</span>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="rowTable">
                    <label>Denial Code:</label>
                    @*<select id="ddlDenialCodes"></select>*@
                    @*@Html.HiddenFor(m => m.DenialCode , new {@id ="hdDenialCode"})*@
                    @*<input type="hidden" id="hdDenialCode" />*@
                    @Html.HiddenFor(x => x.DenialCode, new { @id = "hdDenialCode" })
                    <input type="hidden" id="hdDenialCodeName" />
                    @(Html.Kendo().AutoComplete()
                          .Name("txtDenialCode")
                          .DataTextField("Menu_Title")
                          .Placeholder("Search Denial Code or Description...")
                          .Filter("contains")
                          .MinLength(3)
                          .Events(e => e.Select("SelectDenailCode"))
                          .HtmlAttributes(new
                          {
                              id = "txtDenialCode",
                              onfocus = "ajaxStartActive = false;",
                              onblur = "ajaxStartActive = true;",
                              style = "width:100%",
                              maxlength = "6",
                          })
                          .DataSource(source => source.Read(read => read.Action("GetDenailCodes", "Denial")
                              .Data("OnSelection"))
                              .ServerFiltering(true))
                          )
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="rowTable">
                    <label>Payment Reference:</label>
                    @Html.TextBoxFor(m => m.PaymentReference, new { @id = "txtPaymentReference", @class = "validate[required]" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="rowTable">
                    <label>Date Settlement:</label>
                    @Html.TextBoxFor(m => m.DateSettlement, new { @id = "txtDateSettlement", @class = "dtGeneral validate[required]" })
                </div>
            </div>
        </div>

    </div>
    <div class="btn-group" style="margin-bottom: 20px; margin-left: 30px;">
        <input type="submit" onclick="return SaveXPaymentReturn('@Model.ID');" class="btn btn-primary edit-btn marginBtn" value="Update" />
        <input type="submit" onclick="return CancelXPaymentReturn()" class="btn btn-primary edit-btn marginBtn" value="Cancel" />
    </div>
</div>

