@*
    Owner: Amit Joshi
    On: 28092014
    Purpose: To Add Edit HCPCS Codes details
*@

@model BillingSystem.Model.HCPCSCodes

@{
    ViewBag.Title = "HCPCSCodes";
}
<style>
    .btn-group {
        margin-left: 5px;
        margin-top: 10px;
    }
</style>
<script src="~/Scripts/HCPCSCodes/HCPCSCodes.js"></script>
<div class="form" id="HCPCSCodesFormDiv">
    @if (@ViewBag.ViewOnly == null)
    {

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="rowTable">
                @*<label><span class="mandatoryStar"></span>Table Number:</label>
                    @Html.TextBoxFor(m => m.CodeTableNumber, new { @maxlength = "4", @ID = "txtCodeTableNumber", @class = "validate[required]" })*@
                @Html.ValidationMessageFor(m => m.CodeTableNumber)
            </div>
            <div class="rowTable">
                <label>Table Description:</label>
                @Html.TextAreaFor(m => m.CodeTableDescription, new { @maxlength = "50", @resize = "vertical", @ID = "txtCodeTableDescription" })
                @Html.HiddenFor(m => m.HCPCSCodesId, new { @ID = "hdHCPCSCode" })
            </div>
            <div class="rowTable">
                <label>Effective Date:</label>
                @Html.TextBoxFor(m => m.CodeEffectiveDate, "{0:MM/dd/yyyy}", new { @maxlength = "10", @ID = "dtCodeEffectiveDate", @class = "dtGeneral" })
            </div>
            <div class="rowTable">
                <label>Expiry Date:</label>
                @Html.TextBoxFor(m => m.CodeExpiryDate, "{0:MM/dd/yyyy}", new { @maxlength = "10", @ID = "dtCodeExpiryDate", @class = "dtGreaterThanCurrent", @onchange = "CheckValidDateNotLessThanTodayDate(this,'dtCodeExpiryDate')" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="rowTable">
                <label><span class="mandatoryStar"></span>Code:</label>
                @Html.TextBoxFor(m => m.CodeNumbering, new { @maxlength = "50", @resize = "vertical", @ID = "txtCodeNumbering", @class = "validate[required]" })
            </div>
            <div class="rowTable">
                <label>Code Description:</label>
                @Html.TextAreaFor(m => m.CodeDescription, new { @maxlength = "120", @resize = "vertical", @ID = "txtCodeDescription" })
                @Html.HiddenFor(m => m.HCPCSCodesId)
            </div>
            <div class="rowTable">
                <label>Service Main Category:</label>
                @*@Html.DropDownListFor(m => m.CodeServiceMainCategory, new SelectList(Model.LstServiceMainCategory, "GlobalCodeCategoryValue", "GlobalCodeCategoryName"), "--Select One--", new { @id = "ddlGlobalCodeCategories", @OnChange = "return OnChangeGlobalCodeCategory();" })*@
                <select id="ddlGlobalCodeCategories" onchange="return OnChangeGlobalCodeCategory();"></select>
                @Html.HiddenFor(m => m.CodeServiceMainCategory, new { @id = "hdServiceMainCategory" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="rowTable">
                <label><span class="mandatoryStar"></span>Price:</label>
                @Html.TextBoxFor(m => m.CodePrice, new { @maxlength = "50", @resize = "vertical", @ID = "txtCodePrice", @class = "validate[required]" })
            </div>
            <div class="rowTable">
                <label>Other Products Application Rule:</label>
                @Html.TextAreaFor(m => m.CodeOtherProductsApplicationRule, new { @maxlength = "100", @resize = "vertical", @ID = "txtCodeOtherProductsApplicationRule" })
            </div>
            <div class="rowTable">
                <label>Service Code SubCategory:</label>
                @* @Html.DropDownListFor(m => m.CodeServiceCodeSubCategory, new SelectList(Model.LstServiceSubCategory, "GlobalCodeValue", "GlobalCodeName"), "--Select One--", new { @id = "ddlGlobalCodes" })*@
                <select id="ddlGlobalCodes"></select>
                @Html.HiddenFor(m => m.CodeServiceCodeSubCategory, new { @id = "hdServiceServiceCodeSub" })

            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="rowTable">
                <label>CPTMUE Values:</label>
                @Html.TextBoxFor(m => m.CodeCPTMUEValues, new { @maxlength = "50", @resize = "vertical", @ID = "txtCodeCPTMUEValues" })
            </div>
            <div class="rowTable">
                <label>Basic Product Application Rule:</label>
                @Html.TextAreaFor(m => m.CodeBasicProductApplicationRule, new { @maxlength = "100", @resize = "vertical", @ID = "txtCodeBasicProductApplicationRule" })
                @Html.HiddenFor(m => m.HCPCSCodesId)
            </div>
            <div class="rowTable">
                <label class="control-label">
                    Is Active:
                </label>
                <input type="checkbox" id="chkIsActive" />
            </div>
        </div>
        <div class="clear"></div>
        <div class="btn-group">
            <div style="float: left;">
                @*@if (Model.HCPCSCodesId != 0)
                    {
                        <input type="submit" class="btn btn-primary edit-btn marginBtn" value="Update" onclick="return SaveHCPCSCodes('@Model.HCPCSCodesId    ')" />


                        <button name="ClientCancel" class="btn btn-primary edit-btn marginBtn" type="button" onclick="return ClearAll();">Cancel</button>
                    }
                    else
                    {
                        <input type="submit" class="btn btn-primary edit-btn marginBtn" value="Save" onclick="return SaveHCPCSCodes('@Model.HCPCSCodesId    ')" />
                        <button name="ClientCancel" class="btn btn-primary edit-btn marginBtn" type="button" onclick="return ClearAll();">Cancel</button>
                    }*@
                <input type="submit" class="btn btn-primary edit-btn marginBtn" id="btnSave" value="Save" onclick="return SaveHCPCSCodes('0')" />
                @*<input type="submit" class="btn btn-primary edit-btn marginBtn" id="btnSave" value="Save" onclick="return SaveHCPCSCodes(@Model.HCPCSCodesId)" />*@
                <button name="ClientCancel" class="btn btn-primary edit-btn marginBtn" type="button" onclick="return ClearAll();">Cancel</button>
                <input type="hidden" id="hfHCPCSCodesId" value='@Model.HCPCSCodesId' />
                <a id="indexUrl" href="@Html.AttributeEncode(Url.Action("HCPCSCodes", "HCPCSCodes"))" style="display:none;"></a>
                <a id="Url" href="@Html.AttributeEncode(Url.Action("HCPCSCodes", "HCPCSCodes"))" style="display:none;"></a>
                <br />
                <span id="lblMessage" style="display: none; font-weight: bold; margin-top: 5px;">Fields marked with <span style="color: red;">* </span>are mendatory.</span>
                @if (TempData["Message"] != null)
                {
                    <div style="margin: 5px 5px 5px 12px; color: green; font-size: 12px;">@TempData["Message"]</div>
                }
            </div>


        </div>
        @*<td>AnesthesiaBaseUnit :</td>
            <td>@Html.TextBoxFor(m => m.CodeAnesthesiaBaseUnit, new { @maxlength = "3", @resize = "vertical", @ID = "txtCodeAnesthesiaBaseUnit" })</td>
            <td>@Html.ValidationMessageFor(m => m.CodeAnesthesiaBaseUnit)</td>*@
        @*<td>USCLS Chapter:</td>
            <td>@Html.TextBoxFor(m => m.CodeUSCLSChapter, new { @maxlength = "50", @resize = "vertical", @ID = "txtCodeUSCLSChapter" })</td>
            <td>@Html.ValidationMessageFor(m => m.CodeUSCLSChapter)</td>*@
        @* <tr>
                <td>Code Group:</td>
                <td>@Html.TextBoxFor(m => m.CodeGroup, new { @maxlength = "50", @resize = "vertical", @ID = "txtCodeGroup" })</td>
                <td>@Html.ValidationMessageFor(m => m.CodeGroup)</td>
            </tr>
            <tr></tr>
            <tr>
                    <td>CodeDescription :</td>
                    <td>@Html.DropDownListFor(m => m.CodeDescription , new SelectList(Model.LstInsuranceCmp ,  "CompanyID", "InsuranceCompanyName"), "--Select One--", new { id = "InsuranceCompanyNumber", @style = "width: 219px"})</td>
                    <td>@Html.ValidationMessageFor(m => m.InsuranceCompanyNumber)</td>
                    <td>Type :</td>
                    <td>@Html.TextBoxFor(m => m.DenialType , new { @maxlength = "20" })</td>
                    <td>@Html.ValidationMessageFor(m => m.DenialType)</td>
            </tr>*@

    }
    else
    {
    }
</div>
