@using BillingSystem.Model
@model BillingSystem.Model.Model.PaymentTypeDetail

<style>
    .btn-group {
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .clear {
        clear: both;
    }
    select {
    margin-bottom: 10px;}
</style>
<div class="row" id="PaymentTypeDetailFormDiv">
    @*// BBCOLUMNSHERE*@
    <div class="col-sm-3">
        @Html.HiddenFor(m => m.Id, new { @maxlength = "10", @id = "txtId" })
        @*<div class="rowTable">
        <label>Id:</label>
      
      </div>*@
        @*<div class="rowTable">
        <label>Payment Type:</label>
        @Html.TextBoxFor(m => m.PaymentType, new { @maxlength = "50", @id = "txtPaymentType",@readonly=true })
      </div>*@
        <div class="rowTable">
            <label><span class="mandatoryStar"></span>Card Number:</label>
            @Html.TextBoxFor(m => m.CardNumber, new { @maxlength = "20", @id = "txtCardNumber" })
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-6">
                <div class="rowTable">
                    <label><span class="mandatoryStar"></span>Expiry Month:</label>
                    @*@Html.TextBoxFor(m => m.ExpiryMonth, new { @maxlength = "50", @id = "txtExpiryMonth" })*@
                    <select id="ddlExpiryMonth"></select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="rowTable">
                    <label><span class="mandatoryStar"></span>Expiry Year:</label>
                    @*@Html.TextBoxFor(m => m.ExpiryYear, new { @maxlength = "50", @id = "txtExpiryYear" })*@
                    <select id="ddlExpiryYear"></select>
                </div>
            </div>
        </div>
        </div>
    <div class="col-sm-3">
        <div class="rowTable">
            <label><span class="mandatoryStar"></span>Card Holder Name:</label>
            @Html.TextBoxFor(m => m.CardHolderName, new { @maxlength = "100", @id = "txtCardHolderName" })
        </div>
    </div>
    
    <div class="col-sm-3">
        <div class="rowTable">
            <label><span class="mandatoryStar"></span>Security Number:</label>
            @Html.TextBoxFor(m => m.ExtValue1, new { @maxlength = "5", @id = "txtSecurityNumber" })
        </div>
    </div>
    <div class="col-sm-3">
            <div class="clear"></div>

            @*<div class="btn-group">
                <div style="float: left;">
                    @if (Model.Id != null && Model.Id != 0)
                    {
                        <input type="submit" class="btn btn-primary edit-btn marginBtn" value="Update" onclick="return SavePaymentTypeDetail();" />
                    }
                    else
                    {
                        <input type="submit" onclick="return SavePaymentTypeDetail();" class="btn btn-primary edit-btn marginBtn" value="Save" />
                    }
                    <button name="ClientCancel" class="btn btn-primary edit-btn marginBtn" type="button" onclick="return ClearAll();">Cancel</button>
                </div>
            </div>*@


        </div>
    </div>
