@using BillingSystem.Model.CustomModel
@model PatientInsuranceCustomModel

<div id="divPatientInsurance">
    <div class="col-sm-12">
        @Html.HiddenFor(m => m.PatientInsuraceID)
        @Html.HiddenFor(m => m.InsuranceCompanyId)
        @Html.HiddenFor(m => m.InsurancePlanId)
        @Html.HiddenFor(m => m.InsurancePolicyId)
        <div class="col-sm-4">
            <div class="rowTable">
                <label>Company Name :</label>
                @Html.TextBoxFor(m => m.CompanyName, new { @readonly = "true", @class = "validate[required]" })
            </div>
            <div class="rowTable">
                <label>Member ID:</label>
                @Html.TextBoxFor(m => m.PersonHealthCareNumber, new { @readonly = "true", @maxlength = "10", @class = "validate[required,custom[nameFormat]]" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="rowTable">
                <label>Insurance Plan:</label>
                @Html.TextBoxFor(m => m.PlanName, new { @readonly = "true", @class = "validate[required]" })
            </div>
            <div class="rowTable">
                <label>Insurance Policy: </label>
                @Html.TextBoxFor(m => m.PolicyName, new { @readonly = "true", @class = "validate[required]" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="rowTable">
                <label>Start Date :</label>
                @Html.TextBoxFor(m => m.Startdate, "{0:MM/dd/yyyy}", new { @readonly = "true", @class = "validate[required]", @onchange = "CheckTwoDates($('#Startdate'),$('#Expirydate'),'Startdate')" })
            </div>
            <div class="rowTable">
                <label>End Date :</label>
                @Html.TextBoxFor(m => m.Expirydate, "{0:MM/dd/yyyy}", new { @readonly = "true", @class = "validate[required]", @onchange = "CheckTwoDates($('#Startdate'),$('#Expirydate'),'Expirydate')" })
            </div>
        </div>
    </div>
    <div class="col-sm-12" id="divSecondInsuranceForm">
        @Html.HiddenFor(m => m.PatientInsuranceId2)
        <div class="col-sm-4">
            <div class="rowTable">
                <label><span class="mandatoryStar"></span>2nd Healthcare Company:</label>
                <select id="ddlInsuranceCompany2" class="validate[required]"></select>
                @Html.HiddenFor(m => m.CompanyId2)
            </div>
            <div class="rowTable">
                <label>2nd Healthcare Member ID:</label>
                @Html.TextBoxFor(m => m.PersonHealthCareNumber2, new { @maxlength = "30", @class = "validate[optional[nameFormat]]" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="rowTable">
                <label><span class="mandatoryStar"></span>2nd Healthcare Insurance Plan:</label>
                <select id="ddlInsurancePlan2" class="validate[required]">
                    <option>--Select--</option>
                </select>
                @Html.HiddenFor(m => m.Plan2)
            </div>
            <div class="rowTable">
                <label><span class="mandatoryStar"></span>2nd Healthcare Insurance Policy:</label>
                <select id="ddlInsurancePolicy2" class="validate[required]">
                    <option>--Select--</option>
                </select>
                @Html.HiddenFor(m => m.Policy2)
            </div>
        </div>
        <div class="col-sm-4">
            <div class="rowTable">
                <label><span class="mandatoryStar"></span>2nd Healthcare Start Date:</label>
                @Html.TextBoxFor(m => m.StartDate2, "{0:MM/dd/yyyy}", new { @maxlength = "10", @class = "validate[required]", @onchange = "CheckTwoDates($('#StartDate2'),$('#EndDate2'),'StartDate2')" }) 
            </div>
            <div class="rowTable">
                <label><span class="mandatoryStar"></span>2nd Healthcare End Date:</label>
                @Html.TextBoxFor(m => m.EndDate2, "{0:MM/dd/yyyy}", new { @maxlength = "10", @class = "validate[required]", @onchange = "CheckTwoDates($('#StartDate2'),$('#EndDate2'),'EndDate2')" }) 
            </div>
        </div>
    </div>
    <div class="btn-group" id="divInsurnaceCoverageSaveButton">
        @{
            var btnInsuranceSave = "Save";
            if (Model.PatientInsuraceID != 0)
            {
                btnInsuranceSave = "Update";
            }
        }
        <button class="blue-btn btn btn-primary edit-btn marginBtn" id="btnInsuranceSave" onclick="return SavePatientInsurance2();">@btnInsuranceSave</button>
        <button class="blue-btn btn btn-primary edit-btn marginBtn" id="btnInsuranceCancel" onclick="return ClearInsuranceForm2();">Cancel</button>
        <br />
    </div>
</div>
<script src="~/Scripts/PatientInfo/PatientInsuranceCoverage.js?@DateTime.Now.Ticks"></script>