@model BillingSystem.Model.PatientPhone

@{
    var btnPhoneSave = "Save";
    if (Model != null && Model.PatientPhoneId > 0)
    {
        btnPhoneSave = "Update";
    }
}

@if (Model != null)
{
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        @Html.HiddenFor(p => p.PatientPhoneId)
        <div class="rowTable">
            <label><span class="mandatoryStar"></span>Phone Type:</label>
            <select id="ddlPhoneType" name="ddlPhoneType" class="validate[required]"></select>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="rowTable">
            <label><span class="mandatoryStar"></span>Phone number:</label>
            <select id="ddlPhoneNo" class="marginBottomNone telephoneCol1 phoneddl" onchange="return OnCountryDropdownChange('#lblPhoneNo', '#ddlPhoneNo');"></select>
            <span id="lblPhoneNo" class="marginTopPhoneNo phnspan"></span>
            @Html.TextBoxFor(m => m.PhoneNo, new { id = "txtPhoneNo", @maxlength = "11", @class = "PhoneMask telephoneCol2 validate[required]" })
            @Html.HiddenFor(m => m.PhoneNo)
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group" style="margin-left: 15px;">
            <label class="control-label" style="width: 150px;">Is Primary: @Html.CheckBox("chkActive", Model.IsPrimary ?? false)</label>
            <label class="control-label" style="width: 150px;">DND Service: @Html.CheckBox("chkDoNotDistrub", Model.IsdontContact ?? false)</label>
        </div>
    </div>
    <div class="clear"></div>
    <div class="btn-group" id="divPhoneAddEditButtons">
        <input type="button" id="btnPatientPhoneSave" class="blue-btn btn btn-primary edit-btn marginBtn" style="margin-left: 2px;" value="@btnPhoneSave" onclick="SavePatientPhone(); return false;" />
        <input type="button" class="blue-btn btn btn-primary edit-btn marginBtn" value="Cancel" onclick="ClearPhoneTabAll();" />
    </div>
}

