@using BillingSystem.Model
@model DeptTimming

<style>
    .btn-group {
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .clear {
        clear: both;
    }
    select {
    margin-bottom: 10px;}
</style>
<div class="form" id="DeptTimmingFormDiv">
    @*// BBCOLUMNSHERE*@
   <div class="col-sm-3">
      <div class="rowTable">
        <label>TimingId:</label>
        @Html.TextBoxFor(m => m.TimingId, new { @maxlength = "10", @id = "txtTimingId" })
      </div>
      <div class="rowTable">
        <label>FacilityStructureID:</label>
        @Html.TextBoxFor(m => m.FacilityStructureID, new { @maxlength = "10", @id = "txtFacilityStructureID" })
      </div>
      <div class="rowTable">
        <label>OpeningDayId:</label>
        @Html.TextBoxFor(m => m.OpeningDayId, new { @maxlength = "50", @id = "txtOpeningDayId" })
      </div>
      <div class="rowTable">
        <label>OpeningTime:</label>
        @Html.TextBoxFor(m => m.OpeningTime, new { @maxlength = "10", @id = "txtOpeningTime" })
      </div>
      <div class="rowTable">
        <label>ClosingTime:</label>
        @Html.TextBoxFor(m => m.ClosingTime, new { @maxlength = "10", @id = "txtClosingTime" })
      </div>
   </div>
   <div class="col-sm-3">
      <div class="rowTable">
        <label>TrunAroundTime:</label>
        @Html.TextBoxFor(m => m.TrunAroundTime, new { @maxlength = "10", @id = "txtTrunAroundTime" })
      </div>
      <div class="rowTable">
        <label>IsActive:</label>
        @Html.TextBoxFor(m => m.IsActive, new { @maxlength = "10", @id = "txtIsActive" })
      </div>
      <div class="rowTable">
        <label>CreatedBy:</label>
        @Html.TextBoxFor(m => m.CreatedBy, new { @maxlength = "10", @id = "txtCreatedBy" })
      </div>
      <div class="rowTable">
        <label>CreatedDate:</label>
        @Html.TextBoxFor(m => m.CreatedDate,"{0:MM/dd/yyyy}", new { @maxlength = "10", @id = "dtCreatedDate" })
      </div>
      <div class="rowTable">
        <label>ModifiedBy:</label>
        @Html.TextBoxFor(m => m.ModifiedBy, new { @maxlength = "10", @id = "txtModifiedBy" })
      </div>
   </div>
   <div class="col-sm-3">
      <div class="rowTable">
        <label>ModifiedDate:</label>
        @Html.TextBoxFor(m => m.ModifiedDate,"{0:MM/dd/yyyy}", new { @maxlength = "10", @id = "dtModifiedDate" })
      </div>
      <div class="rowTable">
        <label>ExtValue1:</label>
        @Html.TextBoxFor(m => m.ExtValue1, new { @maxlength = "50", @id = "txtExtValue1" })
      </div>
      <div class="rowTable">
        <label>ExtValue2:</label>
        @Html.TextBoxFor(m => m.ExtValue2, new { @maxlength = "50", @id = "txtExtValue2" })
      </div>
    <div class="clear"></div>

    <div class="btn-group">
        <div style="float: left;">
            @if (Model.DeptTimmingID != null && Model.DeptTimmingID != 0)
            {  
                <input type="submit" class="btn btn-primary edit-btn marginBtn" value="Update" onclick="return SaveDeptTimming();" />                
            }
            else
            {
                <input type="submit" onclick="return SaveDeptTimming();" class="btn btn-primary edit-btn marginBtn" value="Save" />                
            }
            <button name="ClientCancel" class="btn btn-primary edit-btn marginBtn" type="button" onclick="return ClearAll();">Cancel</button>            
        </div>
    </div>



</div>
