@model BillingSystem.Model.InsurancePlans

@{
    ViewBag.Title = "InsurancePlans";
    var saveButtonText = "Save";
    if (Model != null && Model.InsurancePlanId != 0)
    {
        saveButtonText = "Update";
    }
}
<style>
    .btn-group {
        margin-left: 15px;
    }
</style>
<div class="form" id="InsurancePlansFormDiv">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="rowTable">
            <label><span class="mandatoryStar"></span>Plan Name: </label>
            @Html.TextBoxFor(m => m.PlanName, new { @maxlength = "50", @id = "txtPlanName", @class = "validate[required]" })
        </div>
        <div class="rowTable">
            <label><span class="mandatoryStar"></span>Package ID Payer: </label>
            @Html.TextBoxFor(m => m.PlanNumber, new { @maxlength = "30", @id = "txtPlanNumber", @class = "validate[required,custom[nameFormat]]" })
        </div>
        <div class="rowTable">
            <label>
                Active:<span> </span>
                @Html.CheckBoxFor(m => m.IsActive, new { @id = "chkIsActive" })
            </label>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="rowTable">
            <label><span class="mandatoryStar"></span>Insurance Company: </label>
            <select id="ddlInsuranceCompany" class="validate[required]"></select>
            @Html.HiddenFor(m => m.InsuranceCompanyId, new { @id = "hdInsuranceCompanyId" })
        </div>
        <div class="rowTable">
            <label>Description:</label>
            @Html.TextBoxFor(m => m.PlanDescription, new { @maxlength = "200", @id = "txtPlanDescription" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="rowTable">
            <label>Plan Begin Date: </label>
            @Html.TextBoxFor(m => m.PlanBeginDate, "{0:MM/dd/yyyy}", new { @maxlength = "10", @onchange = "CheckTwoDates($('#dtPlanBeginDate'),$('#dtPlanEndDate'),'dtPlanBeginDate')", @id = "dtPlanBeginDate", @class = "dtGeneral" })
        </div>
        <div class="rowTable">
            <label>Plan End Date: </label>
            @Html.TextBoxFor(m => m.PlanEndDate, "{0:MM/dd/yyyy}", new { @maxlength = "10", @onchange = "CheckTwoDates($('#dtPlanBeginDate'),$('#dtPlanEndDate'),'dtPlanEndDate')", @id = "dtPlanEndDate", @class = "dtGeneral" })
        </div>

    </div>
    <div class="clear"></div>
    <div class="btn-group">
        <input type="submit" class="btn btn-primary edit-btn marginBtn" id="btnAddUpdatePlan" value="@saveButtonText" onclick="return ValidatePlanNamePlanNumber('@Model.InsurancePlanId    ')" />
        <button name="ClientCancel" class="btn btn-primary edit-btn marginBtn" type="button" onclick="return ClearInsurancePlanForm();">Cancel</button>
    </div>
</div>
