@using System.Web.UI.WebControls
@using BillingSystem.Common.Common
@using BillingSystem.Model.CustomModel
@model List<ProjectsCustomModel>

<style>
    #ProjectIndiDashboardTable .colStatus {
        text-align: center;
    }
</style>
<div class="form">
    <div class="table-responsive">
        @if (Model != null && Model.Any())
        {
            <table class="table table-grid" id="ProjectIndiDashboardTable" data-swhgcallback="" data-swhgcontainer="gridProjectDashboardContent" data-swhgajax="true">
                <thead>
                    <tr class="gridHead">
                        <th></th>
                        <th scope="col" width="100">Facility            </th>
                        <th scope="col" width="100">Objective Number            </th>
                        <th scope="col">Objective Description            </th>
                        @*<th scope="col" width="58">Milestone Number   </th>
                        <th scope="col" width="200">MileStone </th>*@
                        <th scope="col" width="70">Status</th>
                        <th scope="col" width="150">KPI Target Date            </th>
                        @*<th scope="col" ></th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in Model)
                    {
                        <tr>
                            <td title="click for show/hide" class="hoverEff collapseCustom"></td>
                            <td>@project.FacilityName</td>
                            <td>@project.ProjectNumber</td>
                            <td>@project.ProjectDescription</td>
                            @*<td></td>
                            <td></td>*@
                            <td class="colStatus">
                                @if (!string.IsNullOrEmpty(project.ExternalValue3))
                                {
                                    var colors = (ExternalDashboardColor)Enum.Parse(typeof(ExternalDashboardColor), project.ExternalValue3);
                                    switch (colors)
                                    {
                                        case ExternalDashboardColor.Green:
                                    <img style="height: 16px; width: 16px" src="@Url.Content("~/images/circleGreen19x19.png")"/>
                                            break;
                                        case ExternalDashboardColor.Yellow:
                                    <img  style="height: 16px; width: 16px"  src="@Url.Content("~/images/circleYellow19x19.png")"/>
                                            break;
                                        case ExternalDashboardColor.Red:
                                    <img style="height: 16px; width: 16px"  src="@Url.Content("~/images/circleRed19x19.png")"/>
                                            break;
                                    }
                                }
                            </td>
                            <td>@if (project.EstCompletionDate.HasValue)
                                {
                                    //Html.Raw(string.Format("{0:mm/dd/yyyy}", ));
                                @project.EstCompletionDate.Value.ToString("MM/dd/yyyy")
                                }
                            </td>
                        </tr>

                                if (project.Milestones != null && project.Milestones.Any())
                                {
                        <tr style="display: table-row;">

                            <td style="margin: 0px; padding: 0px;" colspan="6">
                                <table id="subT1" style="width: 100%; margin: 10px 0;">
                                    <thead>
                                        <tr class="gridHead">
                                            <th width="25"></th>
                                            <th scope="col" width="100">Milestone Number</th>
                                            <th scope="col">Milestone</th>
                                            <th scope="col" width="75">Milestone Status</th>
                                            <th scope="col" width="150">KPI Target Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var task in project.Milestones)
                                        {
                                            <tr>
                                                <td></td>
                                                <td>@task.TaskNumber</td>
                                                <td>@task.TaskDescription</td>
                                                <td align="center">
                                                    <img style="width: 16px; height: 16px;" src="@task.ColorImage"></td>
                                                <td></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </td>
                        </tr>

                                }
                                else
                                {
                        <tr></tr>
                                }

                    }
                </tbody>
            </table>
        }
        else
        {
            <h2>No Record found</h2>
        }
    </div>
</div>

<script>
    $(function () {
        ShowCustomGridI1();
    });
    function ShowCustomGridI1() {
        $('.hitTitle').click(function () {
            $('.showGrid').toggleClass('shown');
        });
        var size = $("#ProjectIndiDashboardTable > thead > tr >th").size(); // get total column
        //$("#ProjectIndiDashboardTable > thead > tr >th").last().remove(); // remove last column
        //$("#ProjectIndiDashboardTable > thead > tr").prepend("<th></th>"); // add one column at first for collapsible column
        $("#ProjectIndiDashboardTable > tbody > tr").each(function (i, el) {
            //$(this).prepend(
            //        $("<td></td>")
            //        .addClass("collapseCustom")
            //        .addClass("hoverEff")
            //        .attr('title', "click for show/hide")
            //    );

            //Now get sub table from last column and add this to the next new added row
            //var table = $("table", this).parent().html();
            ////add new row with this subtable
            //$(this).after("<tr><td></td><td style='padding:0; margin:0px;' colspan='" + (6) + "'>" + table + "</td></tr>");
            //$("table", this).parent().remove();
            // ADD CLICK EVENT FOR MAKE COLLAPSIBLE
            $(".hoverEff", this).on("click", function () {
                $(this).parent().closest("tr").next().slideToggle(100);
                $(this).toggleClass("expandCustom collapseCustom");
            });
        });

        //by default make all subgrid in collapse mode
        $("#ProjectIndiDashboardTable > tbody > tr td.collapseCustom").each(function (i, el) {
            $(this).toggleClass("expandCustom collapseCustom");
            $(this).parent().closest("tr").next().slideToggle(100);
        });
    }

</script>
