@using BillingSystem.Common.Common

@model BillingSystem.Models.UserRoleView

<style>
    .btn-group {
        margin-top: 15px;
        margin-left: 15px;
    }

    input[type="radio"], input[type="checkbox"] {
        margin: 0 5px 0 0;
    }
</style>
<div class="panel panel-default collapsecss ourcollapse bordertable">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <h4 class="panel-title collapseTitle">
            <span class="glyphicon glyphicon-align-justify"></span>&nbsp;User Role
            <a class="btn btn-default btn-sm pull-right collapse-btn">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="base-color">
                <div class="form" id="validateUserRole">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="rowTable">
                            <label><span class="mandatoryStar"></span>Select Corporate:</label>
                            <select id="ddlCorporate" onchange="BindFacilityDropdownData();" class="validate[required]"></select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="rowTable">
                            <label><span class="mandatoryStar"></span>Select Facility:</label>
                            <select id="ddlFacility" onchange="OnFacilityChange();" class="validate[required]"></select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="rowTable">
                            @foreach (var item in Enum.GetValues(typeof(Portals)).Cast<Portals>())
                            {
                                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 p-0">
                                    @if (Convert.ToInt32(item) == ExtensionMethods.DefaultPortalKey)
                                    {
                                        <label>
                                            <input type="radio" name="rolePortal" onchange="OnFacilityChange();" checked="checked" value="@Convert.ToInt32(item)" class="rolePortal" />
                                            @item.GetDescription()
                                        </label>
                                    }
                                    else
                                    {
                                        <label>
                                            <input type="radio" name="rolePortal" value="@Convert.ToInt32(item)" onchange="OnFacilityChange();" class="rolePortal" />
                                            @item.GetDescription()
                                        </label>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="rowTable">
                            <label><span class="mandatoryStar"></span>Select User:</label>
                            <select id="ddlUsers" onchange="GetUserRoleByUserID();" class="validate[required]"></select>
                            @*@Html.DropDownListFor(m => m.UserID, new SelectList(Model.UsersList, "UserID", "UserName"), "--Select One--", new { id = "ddlUsers", @class = "validate[required]", @onchange = "return GetUserRoleByUserID(this);" })*@
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="panel panel-primary">
                        @* <div class="panel-heading">
                                <h1 class="panel-title"></h1>
                            </div>*@
                        <div class="panel-body scroller">
                            <div id="checkBox_UserRoles">
                                @if (Model.RolesList != null && Model.RolesList.Count > 0)
                                {
                                    <ul class="list-inline" id="ulRoles">
                                        @foreach (var item in Model.RolesList)
                                        {
                                            <li style="margin: 5px; float: left; width: 260px;">
                                                <input type="checkbox" id="@item.RoleID" value="@item.RoleID" name="@item.RoleName" />&nbsp;@item.RoleName
                                            </li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <span>No Records Found</span>
                                }
                            </div>
                        </div>

                        <div class="btn-group">
                            <input type="submit" class="blue-btn btn btn-primary edit-btn marginBtn" onclick="return AddUserRoles();" value="Save" />
                            <button name="ClientCancel" class="blue-btn btn btn-primary edit-btn marginBtn" type="button" onclick="ClearFields();">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
