@model List<BillingSystem.Model.CustomModel.XClaimCustomModel>

<div class="form">
    <div class="table-responsive">
        @if (Model != null && Model.Count > 0)
        {
            var grid = new WebGrid(Model, ajaxUpdateContainerId: "gridContent", canPage: false);
            <div id="gridContent">
                @grid.GetHtml("table table_scroll", "gridHead", "gridFooter", "gridRow", "gridAltRow", columns: grid.Columns(
                    grid.Column("PatientName", "Patient Name", canSort: true),
                    grid.Column("ClaimID", "Claim ID", canSort: true),
                    grid.Column("EncounterID", "Encounter ID", canSort: true),
                    grid.Column("Gross", "Gross", canSort: true),
                    grid.Column("PatientShare", "Patient Share", canSort: true),
                    grid.Column("Net", "Net", canSort: true),
                    grid.Column("PatientID", "Patient ID", canSort: true),
                    grid.Column("StartDate", "Start Date", canSort: true, format: @<text>@if (item.StartDate != null)
                    {
                        @item.StartDate.ToString("dd/MM/yyyy HH:mm:ss")
                    }</text>),
                    grid.Column("EndDate", "End Date", canSort: true, format: @<text>@if (item.EndDate != null)
                    {
                        @item.EndDate.ToString("dd/MM/yyyy HH:mm:ss")
                    }</text>),
                    grid.Column("DateSettlement", "Date Settlement", canSort: true),
                    grid.Column("PaymentAmount", "Payment Amount", canSort: true),
                    grid.Column("PatientPayAmount", "Patient Pay Amount", canSort: true),
                    grid.Column(header: "Action", format: @<text>
                        <div class="iconsAction">
                            <a href="javascript:void(0);" title="Prepare Return Changes" onclick="return ViewPaymentDetails('@item.ClaimID','@item.EncounterID','@item.PatientID'); "><img src="~/images/payment.png" /></a>
                            &nbsp;
                            @if (item.ClaimGenerated)
                            {
                                <a href="javascript:void(0);" onclick="ViewXML(@item.ClaimID) " title="View XML File">
                                    <img src="~/images/XML.png" />
                                </a>
                                <a href="javascript:void(0);" onclick="ApplyCharges(@item.ClaimID) " title="Apply Charges">
                                    <img src="~/images/Billicon.png" />
                                </a>
                                @*<a href="javascript:void(0);" onclick="ViewPayment(@item.ClaimID)" title="View Payment Charges" style="float: left; margin-right: 7px; width: 15px;">
                                    <img src="~/images/Billicon.png" /></a>*@
                            }
                        </div>
                    </text>)
                                         ))
            </div>
        }
        else
        {
            <h2>No Record found</h2>
        }
    </div>
</div>
<script>
    $(function () {
        $('.table_scroll').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
    });
</script>